<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>iRuxu NoteBook</title>
<meta charset="utf-8"/>
<meta name="keywords" content="javascript,css,html,nodejs,python,go,c,git,linux,mongoDB,MySQL,regexp" />
<meta name="description" content="iruxu's Notebook for web develope" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="icon" type="image/x-icon" href="image/favicon.ico">
<script src="js/jquery-1-10-2.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/rainbow.min.js"></script>
<script src="js/index.js"></script>
<link rel="stylesheet" href="css/jquery-ui.css" />
<link rel="stylesheet" href="css/monokai.css" />
<link rel="stylesheet" href="css/style.css" />
</head>

<body>

	{{import 'module/header'}}

	{{import 'module/sidebar'}}

	{{import 'module/content'}}

	{{import 'module/snippet'}}

</body>
</html>