<div id="kotlin" class="c-tab">
	+ to be continued..
	{{!import 'module/kotlin/kotlin0'}}
	{{!import 'module/kotlin/kotlin1'}}
	{{!import 'module/kotlin/kotlin2'}}
	{{!import 'module/kotlin/kotlin3'}}
	{{!import 'module/kotlin/kotlin4'}}
	{{!import 'module/kotlin/kotlin5'}}
	{{!import 'module/kotlin/kotlin6'}}
</div>