<div class="u-col">
  <div class="u-block">
      <h3>Java<span>-</span></h3>
      <div class="u-list">
            <h4>[<span>-</span>] Gitlab</h4>
            <ul>
            </ul>
      </div>
  </div>
</div>