<div id="Golang" class="c-tab">
	+ to be continued..
	{{!import 'module/go/go0'}}
	{{!import 'module/go/go1'}}
	{{!import 'module/go/go2'}}
	{{!import 'module/go/go3'}}
	{{!import 'module/go/go4'}}
	{{!import 'module/go/go5'}}
	{{!import 'module/go/go6'}}
</div>