<ul>
	<li>
		<h3>DOM<span>-</span></h3>
		<div>
			<h4>[<span>-</span>]CSS</h4>
			<ul>
				<li><a href="">.clientWidth</a><span>返回内容的可视宽度（不包括边框，边距或滚动条）<br />
					document.body.clientWidth; 在页面上返回内容的可视宽度（不包括边框，边距或滚动条）<br />
					document.body.clientHeight;  在页面上返回内容的可视高度（不包括边框，边距或滚动条）<br />兼容：clientWidth= document.documentElement.clientWidth|| document.body.clientWidth; 在页面上返回内容的可视宽度（不包括边框，边距或滚动条）</span></li>
				<li><a href="">.clientHeight</a><span>返回内容的可视高度（不包括边框，边距或滚动条）</span></li>
				<li><a href="">.offsetWidth</a><span>返回元素的宽度，包括边框和padding，但不包括margin</span></li>
				<li><a href="">.offsetHeight</a><span>返回元素的高度，包括边框和padding，但不包括margin</span></li>
				<li><a href="">.scrollWidth</a><span>返回元素的整个宽度（包括带滚动条的隐蔽的地方）<br />
					document.body.scrollWidth; 返回元素的整个宽度（包括带滚动条的隐蔽的地方）<br />
					document.body.scrollHeight; 返回整个元素的高度（包括带滚动条的隐蔽的地方）<br />
					兼容：scrollWidth=document.documentElement.scrollWidth|| document.body.scrollWidth; 返回元素的整个宽度（包括带滚动条的隐蔽的地方）
					</span></li>
				<li><a href="">.scrollHeight</a><span>返回整个元素的高度（包括带滚动条的隐蔽的地方）</span></li>
				<li><a href="">.scrollTop</a><span>滚动条滚动距离
					<br />IE低版本document.documentElement.scrollTop
					<br />现代浏览器document.body.scrollTop
					</span></li>
				<li><a href="">.scrollLeft</a><span>返回当前视图中的实际元素的左边缘和左边缘之间的距离</span></li>
				<li><a href="">.offsetParent</a><span>返回元素的偏移容器</span></li>
				<li><a href="">.offsetTop</a><span>返回当前元素的相对垂直偏移</span></li>
				<li><a href="">.offsetLeft</a><span>返回当前元素的相对水平偏移</span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>
			<h4>[<span>-</span>]文档处理</h4>
			<ul>
				<li><a href="">.cookie</a><span></span></li>
				<li><a href="">.lastModified</a><span></span></li>
				<li><a href="">.readyState</a><span></span></li>
				<li><a href="">createElement()</a><span></span></li>
				<li><a href="">createTextNode()</a><span></span></li>
				<li><a href="">createAttribute()</a><span></span></li>
				<li><a href="">normalize()</a><span></span></li>
				<li><a href="">getElementById()</a><span></span></li>
				<li><a href="">getElementsByName()</a><span></span></li>
				<li><a href="">getElementsByTagName()</a><span></span></li>
				<li>document.<a href="">querySelector("#selector")</a><span></span></li>
				<li>document.<a href="">querySelectorAll(".selector")</a><span></span></li>
				<li><a href="">write()</a><span></span></li>
			</ul>
			<h4>[<span>-</span>]DOM方法</h4>
			<ul>
				<li><a href="">getAttribute</a>('attr')<span></span></li>
				<li><a href="">setAttribute</a>('attr',val)<span></span></li>
				<li><a href="">.innerHTML</a><span></span></li>
				<li><a href="">.nodeName</a><span></span></li>
				<li><a href="">.nodeValue</a><span></span></li>
				<li><a href="">.nodeType</a><span></span></li>
				<li><a href="">.attributes</a><span></span></li>
				<li><a href="">.children[n]</a><span></span></li>
				<li><a href="">.childNodes</a><span></span></li>
				<li><a href="">.firstChild</a><span></span></li>
				<li><a href="">.lastChild</a><span></span></li>
				<li><a href="">.parentNode</a><span></span></li>
				<li><a href="">appendChild()</a><span></span></li>
				<li><a href="">createTextNode()</a><span></span></li>
				<li><a href="">insertBefore</a>(key,参照节点)<span></span></li>
				<li><a href="">repalceChild</a>(key,被替换)<span></span></li>
				<li><a href="">cloneNode</a>(true)<span></span></li>
				<li><a href="">removeChild()</a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>
			<h4>[<span>-</span>]Attribute对象</h4>
			<ul>
				<li><a href=""></a><span></span></li>
			</ul>
		</div>
	</li>
</ul>