<ul>
	<li>
		<h3>语法<span>-</span></h3>
		<div>
			<h4>[<span>-</span>]基础</h4>
			<ul>
				<li><a href="">全局变量</a><span>
					x1 = 1;<br />
					var x2 = 2;<br />
					window.x3 = 3;<br />
					<a href="http://snandy.iteye.com/blog/720816">3种全局变量的异同</a>
				</span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>					
			<h4>[<span>-</span>]其他</h4>
			<ul>
				<li><a href="">Global Functions</a><span>
						<div>
							<div>全局函数
							<table>
							<tbody>
							<tr>
							<th align="left" width="32%">函数</th>
							<th align="left" width="68%">描述</th>
							</tr>
							<tr>
							<td>decodeURI()</td>
							<td>解码某个编码的 URI。</td>
							</tr>
							<tr>
							<td>decodeURIComponent()</td>
							<td>解码一个编码的 URI 组件。</td>
							</tr>
							<tr>
							<td>encodeURI()</td>
							<td>把字符串编码为 URI。</td>
							</tr>
							<tr>
							<td>encodeURIComponent()</td>
							<td>把字符串编码为 URI 组件。</td>
							</tr>
							<tr>
							<td>escape()</td>
							<td>对字符串进行编码。</td>
							</tr>
							<tr>
							<td>unescape()</td>
							<td>对由 escape() 编码的字符串进行解码。</td>
							</tr>
							<tr>
							<td>isFinite()</td>
							<td>检查某个值是否为有穷大的数。</td>
							</tr>
							<tr>
							<td>isNaN()</td>
							<td>检查某个值是否是数字。</td>
							</tr>
							<tr>
							<td>Number()</td>
							<td>把对象的值转换为数字。</td>
							</tr>
							<tr>
							<td>parseFloat()</td>
							<td>解析一个字符串并返回一个浮点数。</td>
							</tr>
							<tr>
							<td>parseInt()</td>
							<td>解析一个字符串并返回一个整数。</td>
							</tr>
							<tr>
							<td>String()</td>
							<td>把对象的值转换为字符串。
							.toString / valueOf除undefined,null</td>
							</tr>
							<tr>
							<td>eval()</td>
							<td>计算 JavaScript 字符串，并把它作为脚本代码来执行。</td>
							</tr>
							</tbody>
							</table>
							</div>
							</div></span></li>
				<li><a href="">javascript:void(0)</a></li>
				<li><a href="">补充说明</a>
						<span>文件载入 
						<br>1.尽量使用外置文件，且放置在末尾
						<br>2.defer延迟执行，async异步加载不影响其他加载【但不要含文档修改】
						<br>3.页内时引入闭合标签需要转义，页内时以防低版本的解析问题，用cdata片段包含
						<input value="<![CDATA[ --- ]]>">  </input>
						<br>4. noscript 脚本禁用时的替代提醒 /noscript
						<br> 
						<br>语法细节
						<br>1.在函数内部定义的变量退出函数无效，在函数内部不用var声明的变量，则为全局变量
						<br>2.同时一次性定义多个变量，用逗号分隔，不需要再写var
						<br>  var i=0;var j=1;   ==>    var i=0,j=0
						</span></li>
			</ul>
		</div>
	</li>
	<li>
		<h3>数据类型<span>-</span></h3>
		<div>
			<h4>[<span>-</span>]类型检测</h4>
			<ul>
				<li><a href="">Javscript data types</a><span>
					JS数据类型:
					<br>Undefined Null Boolean Number String Object 
					<br>其中Array,function都属于Object
					<br>一切皆为对象，new Object / new Boolean() / new Number() / new String() / new <br>Array()  / new Function() / new 构造函数名()</span></li>
				<li><a href="">typeof</a> value
						<span>typeof数据类型测试返回值（返回的是字符串
							<table border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top">undefined</td>
							<td valign="top">未定义</td>
							</tr>
							<tr>
							<td valign="top">boolean</td>
							<td valign="top">布尔值</td>
							</tr>
							<tr>
							<td valign="top">string</td>
							<td valign="top">字符串/JSON</td>
							</tr>
							<tr>
							<td valign="top">number</td>
							<td valign="top">数值</td>
							</tr>
							<tr>
							<td valign="top">object</td>
							<td valign="top">对象/null</td>
							</tr>
							<tr>
							<td valign="top">function</td>
							<td valign="top">function</td>
							</tr>
							</tbody>
							</table>
							<ol>
								<li>
							不存在的变量与未声明的变量typeof检测均为undefined，但两者其实不同，故建议总是初始化。</li>
								<li>
							Null 类型是一个只有一个值的数据类型，即特殊的值 null。它表示一个空对象引用(指针)，而 typeof 操作符检测 null 会返回 object。如果定义的变量准备在将来用于保存对象，那么最好将该变量初始化为 null。这样， 当检查 null 值就知道是否已经变量是否已经分配了对象引用了。</li>
								<li>
							undefined 是派生自 null 的，因此 ECMA-262 规定对它们的相等性测试返回 true。alert(undefined == null);但typeof数据类型不等。</li>
							</ol>
						</span></li>
				<li>value <a href="">instanceof</a> types
						<span>instanceof引用类型数据测试
						<table width="100%" border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top">value instanceof Array</td>
							<td valign="top">数组</td>
							</tr>
							<tr>
							<td valign="top">value instanceof Obj</td>
							<td valign="top">构造函数实例</td>
							</tr>
							<tr>
							<td valign="top">
							<div>value instanceof Date</div></td>
							<td valign="top">日期时间</td>
							</tr>
							<tr>
							<td valign="top">value instanceof RegExp</td>
							<td valign="top">正则表达式</td>
							</tr>
							<tr>
							<td valign="top">
							<div>value instanceof Math</div></td>
							<td valign="top">数学</td>
							</tr>
							</tbody>
							</table></span></li>
				<li><a href="">isNaN</a>(value)<span>是否为非数值,转换后非数值为true，数值false
					<br>1. 非数值执行运算，会隐藏自动转型（除+）
					<br>2. 加法操作中，数值字符串与数值运算，则改变为字符串串联，减法中，会继续自动转换数值进行运算</span></li>
				<li><a href="">isFinite</a>(value)<span>判断是否为无穷值超出计算范围</span></li>
				<li><a href="">Array.isArray</a>(value)<span>检测是否为数组（EC5）</span></li>
			</ul>
			<h4>[<span>-</span>]类型转换</h4>
			<ul>
				<li><a href="">Boolean</a>(value)
					<span>Boolean(value)布尔转换规则 （控制流会自动转换）
							<table border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top">Boolean(value)</td>
							<td valign="top">true</td>
							<td valign="top">false</td>
							</tr>
							<tr>
							<td valign="top">undefined</td>
							<td valign="top"></td>
							<td valign="top">undefined</td>
							</tr>
							<tr>
							<td valign="top">boolean</td>
							<td valign="top">true</td>
							<td valign="top">false</td>
							</tr>
							<tr>
							<td valign="top">string</td>
							<td valign="top">非空</td>
							<td valign="top">空</td>
							</tr>
							<tr>
							<td valign="top">number</td>
							<td valign="top">非零数值</td>
							<td valign="top">0与NaN</td>
							</tr>
							<tr>
							<td valign="top">object</td>
							<td valign="top">对象（包括空的对象）</td>
							<td valign="top">null（空对象）</td>
							</tr>
							</tbody>
							</table>
						</span></li>
				<li><a href="">Number</a>(value)<span>
						用于任何数据类型
						<br>number=number
						<br>boolean=1 / 0
						<br>undefined=NaN
						<br>null=0
						<br>空字符串=0
						<br>非数值(string+/object)=NaN</span></li>
				<li><a href="">parseInt</a>(str)<span>
						用于字符串，自动判定进制
						<br>忽略空格，空字符串=NaN
						<br>第一个非空字符不是数值或负号=NaN
						<br>第一个非空字符是数值，遇到非数值时停止解析=number</span></li>
				<li><a href="">parseFloat</a>(str)<span>
					用于字符串
					<br>第一个小数点有效，第二个无效</span></li>
				<li>all.<a href="">toString</a>([16])<span>所有类型（除Null,undefined）,数值转成字符串的时候，可以传递进制参数，默认10进制</span></li>
				<li><a href="">String</a>(value)
						<span>不确定null和undefined时,返回null和undefined</span></li>
				<li>str.<a href="">split</a>(符号,num)
						<span>字符串=>数组，符号+次数，多次分割，子项分割</span></li>
				<li>arr.<a href="">join</a>(符号)
						<span>数组=>字符串，把数组的所有元素放入一个字符串，元素通过指定的分隔符进行串联。</span></li>
				<li><a href="">JSON.parse</a>(json)<span>JSON=>JS对象</span></li>
				<li><a href="">JSON.stringify</a>(obj)<span>JS对象=>JSON</span></li>
			</ul>
		</div>
	</li>
	<li>
		<h3>运算与语句<span>-</span></h3>
		<div>
			<h4>[<span>+</span>]运算</h4>
			<ul style="display:none;">
				<li><a href="">一元运算符</a><span>
					<h2>一元运算符</h2>
						<div>
						<table width="100%" border="1" cellspacing="0" cellpadding="2">
						<tbody>
						<tr>
						<td valign="top">i++后置递增，++i前置递增，i--后置递减，--i前置递减，+i取正，-i取负</td>
						</tr>
						</tbody>
						</table>
						<div></div>
						</div>
						<ul>
							<li>只能操作一个值的运算符叫做一元运算符</li>
							<li>递增++和递减--、取正+、取负-</li>
							<li>递增递减中前置和后置的区别</li>
						</ul>
						<div>
						<blockquote>
						<div>在没有赋值操作， 前置和后置是一样的。 但在赋值操作时， 如果递增或递减运算符前置 ，
						那么前置的运算符会先累加或累减再赋值，如果是后置运算符则先赋值再累加或累减。</div>
						<div>var box = 100;
						var age = ++box; //age 值为 101
						var height = box++; //height 值为 100</div></blockquote>
						</div>
						<div>
						<ul>
							<li>非数值执行运算，会隐藏自动转型为数值（除+）</li>
						</ul>
						其他类型应用一元运算符的规则</div>
						<blockquote>
						<div>var box = '89'; box++; //90，数值字符串自动转换成数值</div>
						<div>var box = 'ab'; box++; //NaN，字符串包含非数值转成 NaN</div>
						<div>var box = false; box++; //1，false 转成数值是 0，累加就是 1</div>
						<div>var box = 2.3; box++; //3.3，直接加 1</div>
						<div>var box = { //1，不设置 toString 或 valueOf 即为 NaN</div>
						<div>toString : function() {</div>
						<div>return 1;</div>
						<div>}</div>
						<div>}; box++;</div></blockquote>
					</span></li>
				<li><a href="">算数运算符</a><span>
						<div><b><span style="font-size: small;">算术运算符</span></b></div>
								<div>
								<table width="100%" border="1" cellspacing="0" cellpadding="2">
								<tbody>
								<tr>
								<td valign="top"><span style="font-size: small;">+加法，-减法，*乘法，/除法，%求模</span></td>
								</tr>
								</tbody>
								</table>
								<div></div>
								</div>
								<ul>
									<li><span style="color: #e30000; font-size: small;"><b>加法操作中，数值字符串与数值运算，则改变为字符串串联，减法中，会继续自动转换数值进行运算</b></span></li>
									<li><span style="font-size: small;">加法操作中，非数值字符串与数值运算，会串联字符串，减法中，则会得到NaN</span></li>
									<li><span style="font-size: small;">加法操作中，数值+object类型=字符串（Num[object]），减法中，则会得到NaN</span></li>
									<li><span style="font-size: small;">乘法操作中，数值*非数值字符串或对象返回NaN，除法与求模同NaN</span></li>
								</ul>
								<div></div></span></li>
				<li><a href="">关系运算符</a><span><div><b><span style="font-size: small;">关系运算符 <span style="color: #e30000;">（返回一个布尔值）</span></span></b></div>
						<div>
						<table width="100%" border="1" cellspacing="0" cellpadding="2">
						<tbody>
						<tr>
						<td valign="top"><span style="font-size: small;">&gt;大于，&lt;小于，&gt;=大于等于，&lt;=小于等于，==相等，!=不等，===全等，!==不全等</span></td>
						</tr>
						</tbody>
						</table>
						<div></div>
						</div>
						<div>
						<ul>
							<li><span style="font-size: small;">两个操作数都是数值，则数值比较；</span></li>
							<li><span style="color: #0000ff; font-size: small;">两个操作数都是字符串，则比较两个字符串对应的字符编码值；</span></li>
							<li><span style="font-size: small;">两个操作数有一个是数值，则将另一个转换为数值，再进行数值比较；</span></li>
							<li><span style="font-size: small;">两个操作数有一个是对象，则先调用 valueOf()方法或 toString()方法，再用结果比较；</span></li>
							<li><span style="font-size: small;">不需要任何转换的情况下，null 和 undefined 是相等的；</span></li>
							<li><span style="font-size: small;">一个操作数是 NaN，则==返回 false，!=返回 true；并且 NaN 和自身不等；</span></li>
							<li><span style="font-size: small;">两个操作数都是对象，则比较他们是否是同一个对象，如果都指向同一个对象，则返回 true，否则返回 false。</span></li>
						</ul>
						</div>
						<blockquote>
						<div><span style="font-size: small;">var box = {} == {}; //false，比较的是他们的地址，每个新创建对象的</span></div>
						<div><span style="font-size: small;">引用地址都不同</span></div>
						<div><span style="font-size: small;">var age = {};</span></div>
						<div><span style="font-size: small;">var height = age;</span></div>
						<div><span style="font-size: small;">var box = age == height; </span><a><span style="font-size: small;">//true，引用地址一样，所以相等</span></a></div>
						<div><span style="font-size: small;"> </span></div></blockquote></span></li>
				<li><a href="">逻辑运算符</a><span>
						<div><span style="font-size: small;"><b>逻辑运算符</b><span style="color: #0000ff;">（通常用于布尔值的操作）</span></span></div>
						<div>
						<table width="100%" border="1" cellspacing="0" cellpadding="2">
						<tbody>
						<tr>
						<td valign="top"><span style="font-size: small;">&amp;&amp;逻辑与(AND)、||逻辑或(OR)、!逻辑非(NOT)。</span></td>
						</tr>
						</tbody>
						</table>
						<div><span style="font-size: small;"> </span></div>
						</div>
						<blockquote>
						<div><span style="font-size: small;"><span style="color: #e30000;">如果两边的操作数有一个操作数不是布尔值的情况下，逻辑与运算就不一定返回布尔值</span>，此时，遵循已下规则：</span></div>
						<div><span style="font-size: small;"> </span></div>
						<div><b><span style="font-size: small;">&amp;&amp;逻辑与</span></b></div></blockquote>
						<div>
						<ul>
							<li>
						<ul>
							<li><span style="font-size: small;">第一个操作数是对象，则返回第二个操作数；</span></li>
							<li><span style="font-size: small;">第二个操作数是对象，则第一个操作数返回 true， 才返回第二个操作数， 否则返回 false;</span></li>
							<li><span style="font-size: small;">有一个操作数是 null，则返回 null；</span></li>
							<li><span style="font-size: small;">有一个操作数是 undefined，则返回 undefined。</span></li>
						</ul>
						</li>
						</ul>
						</div>
						<blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = 对象 &amp;&amp; (5 &gt; 4); //true，返回第二个操作数</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = (5 &gt; 4) &amp;&amp; 对象; //[object Object]</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = (3 &gt; 4) &amp;&amp; 对象; //false</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = (5 &gt; 4) &amp;&amp; null; </span><a><span style="font-size: small;">//null</span></a></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;"> </span></div></blockquote>
						<div><b><span style="font-size: small;">||逻辑或</span></b></div></blockquote>
						<div>
						<ul>
							<li>
						<ul>
							<li><span style="font-size: small;">第一个操作数是对象，则返回第一个操作数</span></li>
							<li><span style="font-size: small;">第一个操作数的求值结果为 false，则返回第二个操作数；</span></li>
							<li><span style="font-size: small;">两个操作数都是对象，则返回第一个操作数；</span></li>
							<li><span style="font-size: small;">两个操作数都是 null，则返回 null；</span></li>
							<li><span style="font-size: small;">两个操作数都是 NaN，则返回 NaN；</span></li>
							<li><span style="font-size: small;">两个操作数都是 undefined，则返回 undefined；</span></li>
						</ul>
						</li>
						</ul>
						</div>
						<blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = 对象 || (5 &gt; 3); //[object Object]</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = (5 &gt; 3) || 对象; //true</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = 对象 1 || 对象 2; //[object Object]</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = null || null; //null</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = NaN || NaN; //NaN</span></div></blockquote>
						<blockquote>
						<div><span style="font-size: small;">var box = undefined || undefined; //undefined</span></div></blockquote>
						<div><span style="font-size: small;"> </span></div>
						<div><b><span style="font-size: small;">!逻辑非 </span></b></div>
						<div><span style="font-size: small;">逻辑非运算符可以用于任何值。 无论这个值是什么数据类型， 这个运算符都会<b><span style="color: #0000ff;">返回一个布尔值</span></b>。它的流程是：先将这个值转换成布尔值，然后取反。</span></div>
						<div><span style="font-size: small;">通常来说， 使用一个逻辑非运算符和两个逻辑非运算符可以得到相应的布尔值。</span></div></blockquote>
						<ul>
							<li>
						<ul>
							<li><span style="font-size: small;">操作数是一个对象，返回 false；</span></li>
							<li><span style="font-size: small;">操作数是一个空字符串，返回 true；</span></li>
							<li><span style="font-size: small;">操作数是一个非空字符串，返回 false；</span></li>
							<li><span style="font-size: small;">操作数是数值 0，返回 true；</span></li>
							<li><span style="font-size: small;">操作数是任意非 0 数值(包括 Infinity)，false；</span></li>
							<li><span style="font-size: small;">操作数是 null，返回 true；</span></li>
							<li><span style="font-size: small;">操作数是 NaN，返回 true；</span></li>
							<li><span style="font-size: small;">操作数是 undefined，返回 true；</span></li>
						</ul>
						</li>
						</ul>
						<div></div>
				</span></li>
				<li><a href="">其他运算符</a><span>
						<h2><span style="font-size: small;">赋值运算符</span></h2>
							<table width="100%" border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top"><span style="font-size: small;">乘/赋(*=)  除/赋(/=)  模/赋(%=)  加/赋(+=)  减/赋(-=)  左移/赋(&lt;&lt;=)  有符号右移/赋(&gt;&gt;=)  无符号有移/赋(&gt;&gt;&gt;=)</span></td>
							</tr>
							</tbody>
							</table>
							<div><span style="font-size: small;"> </span></div>
							<div>

							<hr />

							</div>
							<h2><span style="font-size: small;">位操作符</span></h2>
							<div>
							<table width="100%" border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top"><span style="font-size: small;">~按位非，&amp;按位与，|按位或，^按位异或，&lt;&lt;左移，&gt;&gt;有符号右移，&gt;&gt;&gt;无符号右移</span></td>
							</tr>
							</tbody>
							</table>
							<div><span style="font-size: small;">
							</span><span style="font-size: small;">
							</span></div>
							</div>
							<div>

							<hr />

							<span style="font-size: small;"> </span></div>
							<div><b><span style="font-size: small;">其他运算符</span></b></div>
							<div>
							<table width="100%" border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top"><span style="font-size: small;">+ 字符串运算符 、 ,逗号运算符 、三元运算符</span></td>
							</tr>
							</tbody>
							</table>
							<div><span style="font-size: small;"> </span></div>
							</div>
							<div><span style="font-size: small;">字符串运算符只有一个，即："+"。它的作用是将两个字符串相加。</span></div>
							<div><span style="font-size: small;">逗号运算符可以在一条语句中执行多个操作。</span></div>
							<div><span style="font-size: small;">三元条件运算符 a ? b : c</span></div>
				</span></li>
				<li><a href="">运算符优先级</a><span>
					<div><b><span style="font-size: small;">运算符优先级</span></b></div>
							<div><span style="font-size: small;"><span>如果没有使用<strong>圆括号强制优先级</strong>，我们必须遵循以下顺序：
							</span><strong>算术操作符 → 比较操作符 → 逻辑操作符 → "="赋值符号</strong></span></div>
							<div>
							<table width="100%" border="1" cellspacing="0" cellpadding="2">
							<tbody>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">运算符</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">描述</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">. [] () </span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">对象成员存取、数组下标、函数调用等</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">++ -- ~ ! delete new typeof void</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">一元运算符</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">* / %</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">乘法、除法、去模</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">+ - +</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">加法、减法、字符串连接</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">&lt;&lt; &gt;&gt; &gt;&gt;&gt;</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">移位</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">&lt; &lt;= &gt; &gt;= instanceof </span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">关系比较、检测类实例</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">== != === !==</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">恒等(全等)</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">&amp; </span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">位与</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">^ </span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">位异或</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">|</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">位或</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">&amp;&amp;</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">逻辑与</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">||</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">逻辑或</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">?:</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">三元条件</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">= x=</span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">赋值、运算赋值</span></div></td>
							</tr>
							<tr>
							<td valign="top">
							<div><span style="font-size: small;">, </span></div></td>
							<td valign="top">
							<div><span style="font-size: small;">多重赋值、数组元素</span></div></td>
							</tr>
							</tbody>
							</table>
							</div>
				</span></li>
			</ul>
			<h4>[<span>-</span>]语句</h4>
			<ul>
				<li><a href="">Statement</a><span>
						<table>
							<tbody>
							<tr>
							<td width="189"><span style="font-size: small;">类型</span></td>
							<td width="189"><span style="font-size: small;">子类型</span></td>
							<td width="189"><span style="font-size: small;">语法</span></td>
							</tr>
							<tr>
							<td rowspan="2" width="189"><span style="font-size: small;">声明语句</span></td>
							<td width="189"><span style="font-size: small;">变量声明语句</span></td>
							<td width="189"><span style="font-size: small;">var box = 100;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">标签声明语句</span></td>
							<td width="189"><span style="font-size: small;">label : box;</span></td>
							</tr>
							<tr>
							<td rowspan="4" width="189"><span style="font-size: small;">表达式语句</span></td>
							<td width="189"><span style="font-size: small;">变量赋值语句</span></td>
							<td width="189"><span style="font-size: small;">box = 100;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">函数调用语句</span></td>
							<td width="189"><span style="font-size: small;">box();</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">属性赋值语句</span></td>
							<td width="189"><span style="font-size: small;">box.property = 100;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">方法调用语句</span></td>
							<td width="189"><span style="font-size: small;">box.method();</span></td>
							</tr>
							<tr>
							<td rowspan="2" width="189"><span style="font-size: small;">分支语句</span></td>
							<td width="189"><span style="font-size: small;">条件分支语句</span></td>
							<td width="189"><span style="font-size: small;">if () {} else {}</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">多重分支语句</span></td>
							<td width="189"><span style="font-size: small;">switch () { case n : ...};</span></td>
							</tr>
							<tr>
							<td rowspan="4" width="189"><span style="font-size: small;">循环语句</span></td>
							<td width="189"><span style="font-size: small;">for </span></td>
							<td width="189"><span style="font-size: small;">for (;;;) {}</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">for ... in</span></td>
							<td width="189"><span style="font-size: small;">for ( x in x) {}</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">while</span></td>
							<td width="189"><span style="font-size: small;">while () {};</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">do ... while</span></td>
							<td width="189"><span style="font-size: small;">do {} while ();</span></td>
							</tr>
							<tr>
							<td rowspan="5" width="189"><span style="font-size: small;">控制结构</span></td>
							<td width="189"><span style="font-size: small;">继续执行子句</span></td>
							<td width="189"><span style="font-size: small;">continue ;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">终端执行子句</span></td>
							<td width="189"><span style="font-size: small;">break ;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">函数返回子句</span></td>
							<td width="189"><span style="font-size: small;">return ;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">异常触发子句</span></td>
							<td width="189"><span style="font-size: small;">throw ;</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">异常捕获与处理</span></td>
							<td width="189"><span style="font-size: small;">try {} catch () {} finally {}</span></td>
							</tr>
							<tr>
							<td width="189"><span style="font-size: small;">其他</span></td>
							<td width="189"><span style="font-size: small;">空语句</span></td>
							<td width="189"><span style="font-size: small;">;</span></td>
							</tr>
							<tr>
							<td width="189">&nbsp;</td>
							<td width="189"><span style="font-size: small;">with语句</span></td>
							<td width="189"><span style="font-size: small;">with () {}</span></td>
							</tr>
							</tbody>
							</table></span></li>
				<li><a href="">Switch</a><span><br />
					1.<a href="http://www.qttc.net/201207151.html">switch中的case为全等判断</a>
					2.多个case使用同一个执行块应写为case 1: case2: ...
				</span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>
		</div>
	</li>
</ul>