<div class="u-col">
    <div class="u-block">
        <h3>移动设备 API<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Permissions API</h4>
            <ul>
                <li>
                    navigator.<a href="">permissions</a>.query(option)
                    <span>
                        查询某个接口的许可情况
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Geolocation API</h4>
            <ul>
                <li>
                    navigator.<a href="">getCurrentPosition</a>(sfn,efn)
                    <span>
                        用来获取用户的地理位置 <br>
                        参数为接受或拒绝的回调函数，回调函数的参数是一个event对象
                    </span>
                </li>
                <li>
                    e.<a href="">timestamp</a>
                    <span>
                        返回获得位置信息的具体时间
                    </span>
                </li>
                <li>
                    e.<a href="">coords</a>
                    <span>
                        coords属性指向一个对象，包含了用户的位置信息 <br>
                        coords.latitude：纬度<br>
                        coords.longitude：经度<br>
                        coords.accuracy：精度<br>
                        coords.altitude：海拔<br>
                        coords.altitudeAccuracy：海拔精度（单位：米）<br>
                        coords.heading：以360度表示的方向<br>
                        coords.speed：每秒的速度（单位：米）<br>
                        大多数桌面浏览器不提供上面列表的后四个值。
                    </span>
                </li>
                <li>
                    e.<a href="">code</a>
                    <span>
                        geoError的参数也是一个event对象。event.code属性表示错误类型，有四个值 <br>
                        0：未知错误，浏览器没有提示出错的原因，相当于常量event.UNKNOWN_ERROR。<br>
                        1：用户拒绝授权，相当于常量event.PERMISSION_DENIED。<br>
                        2：没有得到位置，GPS或其他定位机制无法定位，相当于常量event.POSITION_UNAVAILABLE。<br>
                        3：超时，GPS没有在指定时间内返回结果，相当于常量event.TIMEOUT。<br>
                    </span>
                </li>
                <li>
                    navigator.geolocation.<a href="">watchPosition</a><em>(sfn,efn,option)</em>
                    <span>
                        可以用来监听用户位置的持续改变
                    </span>
                </li>
                <li>
                    navigator.geolocation.<a href="">clearWatch</a>(watchID)
                    <span>
                        取消监听
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Vibration API</h4>
            <ul>
                <li>
                    navigator.<a href="">vibrate</a>(time)
                    <span>
                        用于在浏览器中发出命令，使得设备振动 <br>
                        vibrate方法可以使得设备振动，它的参数就是振动持续的毫秒数。 <br>
                        vibrate方法还可以接受一个数组作为参数，表示振动的模式。偶数位置的数组成员表示振动的毫秒数，奇数位置的数组成员表示等待的毫秒数。 <br>
                        vibrate是一个非阻塞式的操作，即手机振动的同时，JavaScript代码继续向下运行。要停止振动，只有将0毫秒或者一个空数组传入vibrate方法。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Orientation API</h4>
            <ul>
                <li>
                    <em>[event]</em><a href="">deviceorientation</a>
                    <span>
                        一旦设备的方向发生变化，会触发deviceorientation事件，可以对该事件指定回调函数。
                    </span>
                </li>
                <li>
                    e.<a href="">alpha</a>
                    <span>
                        表示围绕z轴的旋转，从0到360度。当设备水平摆放时，顶部指向地球的北极，alpha此时为0。
                    </span>
                </li>
                <li>
                    e.<a href="">beta</a>
                    <span>
                        表示围绕x轴的旋转，从-180度到180度。当设备水平摆放时，beta此时为0。
                    </span>
                </li>
                <li>
                    e.<a href="">gramma</a>
                    <span>
                        表示围绕y轴的选择，从-90到90度。当设备水平摆放时，gramma此时为0。
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>