<div class="c-tab">
	<div class="m-bookmark">
		<ul class="m-bookmark-tab e-tab">
			<li class="on">Common</li>
			<li>MGTV</li>
			<li>Study</li>
			<li>Front</li>
			<li>End</li>
			<li>Design</li>
			<li>Amuse</li>
		</ul>
		<!-- 常用 -->
		<ul class="m-bookmark-box e-tab-box on">
			<li><a href="https://calendar.google.com/calendar/render?hl=zh-CN#main_7" target="_blank"><img src="image/bookmark/googlecan.png" alt=""><span>谷歌日历</span></a></li>
			<li><a href="https://translate.google.cn/" target="_blank"><img src="image/bookmark/googletrans.png" alt=""><span>谷歌翻译</span></a></li>
			<li><a href="https://github.com/iRuxu" target="_blank"><img src="image/bookmark/github.png" alt=""><span>Github</span></a></li>
			<li><a href="https://git.oschina.net/iruxu" target="_blank"><img src="image/bookmark/mayun.png" alt=""><span>码云</span></a></li>
			<li><a href="https://home.console.aliyun.com/#/" target="_blank"><img src="image/bookmark/aliyun.png" alt=""><span>阿里云</span></a></li>
			<li><a href="https://web.umeng.com/main.php?c=site&a=show" target="_blank"><img src="image/bookmark/cnzz.png" alt=""><span>CNZZ统计</span></a></li>
			<li><a href="https://mp.weixin.qq.com/" target="_blank"><img src="image/bookmark/wechat.png" alt=""><span>微信公众平台</span></a></li>
		</ul>
		<!-- 工作 -->
		<ul class="m-bookmark-box e-tab-box">
			<li><a href="http://jira.imgo.tv/" target="_blank"><img src="image/bookmark/jira.png" alt=""><span>JIRA</span></a></li>
			<li><a href="http://wiki.imgo.tv/" target="_blank"><img src="image/bookmark/wiki.png" alt=""><span>Wiki</span></a></li>
			<li><a href="http://git.hunantv.com/" target="_blank"><img src="image/bookmark/gitlab.png" alt=""><span>Gitlab</span></a></li>
			<li><a href="http://oa.hunantv.com/" target="_blank"><img src="image/bookmark/oa.png" alt=""><span>OA</span></a></li>
			<li><a href="http://localhost:14422/" target="_blank"><b><em>14422</em></b></a></li>
		</ul>
		<!-- 学习 -->
		<ul class="m-bookmark-box e-tab-box">
			<li><a href="http://stackoverflow.com/" target="_blank"><img src="image/bookmark/stackflow.png" alt=""><span>Stackoverflow</span></a></li>
			<li><a href="https://www.shiyanlou.com/courses/" target="_blank"><img src="image/bookmark/shiyanlou.png" alt=""><span>实验楼</span></a></li>
			<li><a href="http://www.imooc.com/course/list" target="_blank"><img src="image/bookmark/muke.png" alt=""><span>慕课网</span></a></li>
			<li><a href="http://study.163.com/" target="_blank"><img src="image/bookmark/wangyi.png" alt=""><span>网易云课堂</span></a></li>
			<li><a href="http://www.runoob.com/" target="_blank"><img src="image/bookmark/runoob.png" alt=""><span>Runoob</span></a></li>
		</ul>
		<!-- 前端 -->
		<ul class="m-bookmark-box e-tab-box">
			<!-- <li><a href="" target="_blank"><img src="" alt=""><span></span></a></li> -->
		</ul>
		<!-- 后端 -->
		<ul class="m-bookmark-box e-tab-box">
			<!-- <li><a href="" target="_blank"><img src="" alt=""><span></span></a></li> -->
		</ul>
		<!-- 设计 -->
		<ul class="m-bookmark-box e-tab-box">
			<li><a href="http://www.flaticon.com" target="_blank"><img src="image/bookmark/flaticon.png" alt=""><span>Flat Icon</span></a></li>
			<li><a href="http://www.freepik.com/" target="_blank"><img src="image/bookmark/freepik.png" alt=""><span>Freepik</span></a></li>
			<li><a href="http://www.iconfont.cn" target="_blank"><img src="image/bookmark/iconfont.png" alt=""><span>Iconfont+</span></a></li>
			<!-- <li><a href="" target="_blank"><img src="" alt=""><span></span></a></li> -->
		</ul>
		<!-- 娱乐 -->
		<ul class="m-bookmark-box e-tab-box">
			<li><a href="http://weibo.com/yuanzi0512" target="_blank"><img src="image/bookmark/weibo.png" alt=""><span>新浪微博</span></a></li>
			<li><a href="http://pan.baidu.com/" target="_blank"><img src="image/bookmark/baiduyun.png" alt=""><span>百度云</span></a></li>
			<!-- <li><a href="" target="_blank"><img src="image/bookmark/" alt=""><span></span></a></li>
			<li><a href="" target="_blank"><img src="image/bookmark/" alt=""><span></span></a></li> -->
		</ul>
	</div>
</div>