<div class="u-col">
	<div class="u-block">
		<h3>布局II<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>] 多列</h4>
			<ul>
				<li><a href="">columns</a>(Npx [M])
						<span>多列,简写时注意加<strong>s</strong>,简写中只含宽度(带单位,不能百分比)和列数.Chrome需要前缀-webkit-
						<br>应用于除table外的非替换块级元素，display:table-cell 元素, 内联块元素。
						<br>实现多列的是里面的内容,而非自身.
						<br>简写方式一：设置width,column:200px 3（固定3列200宽。）
						<br>简写方式二：column:200px （自动根据父级宽度生成X列）
						<br>同时指定2个值时，优先先按列数来分配宽.例如浏览器宽度1800px,指定3列200px宽,结果为分配为3列600px宽,忽略200宽指定值;如果指定宽度200px,未指定列数,则按宽度自动平分为9列
						<br>参考资料：<a href="http://wenku.baidu.com/view/76a20b60011ca300a6c3909d.html">替换/非替换块级/内联元素</a></span></li>
				<li><a href="">column-width</a>(Npx)<span>列宽</span></li>
				<li><a href="">column-count</a>(N)<span>列数</span></li>
				<li><a href="">column-gap</a>(Npx)<span>列间隔</span></li>
				<li><a href="">column-rule</a>(1px solid #ccc)<span>列间隔边框 1px solid #ccc <br>column-rule-style等同于border样式</span></li>
				<li><a href="">column-span</a>(N/all)<span>列横跨,适用于：除浮动和绝对定位之外的块级元素
						<br>是否横跨全部,all和none,不可设置数值非表格,此属性应设置在被应用多列属性的子元素上,多列无继承性,对于不想被继承多列的元素应写在多列父元素之外,而非去设置多列横跨.</span></li>
			</ul>
			<h4>[<span>-</span>] Flex</h4>
			<ul>
				<li>flex<a href=""></a>
					<span>
						<a href="http://www.w3cplus.com/css3/a-visual-guide-to-css3-flexbox-properties.html">教程</a> | 
						<a href="http://www.w3cplus.com/css3/a-guide-to-flexbox-new.html">兼容旧版box教程</a>
						<br><a href="http://demo.agektmr.com/flexbox/">在线调试flexbox布局效果</a>
						<br>display:flex/inline-flex;
						<br>注意：
						<br>所有column-*属性在flex容器上都不生效;flex容器上不能使用::first-line和::first-letter伪元素。
						<br>float，clear和vertical-align属性应用在flex项目上将会无效和无法将其out-of-flow。
					</span>
				</li>
				<li>item <a href="">flex</a>
					<span>
						这个属性是flex-grow、flex-shrink和flex-basis属性的简写。<br>
						如果缩写「flex: 1」, 则其计算值为「1 1 0%」<br>
						如果缩写「flex: auto」, 则其计算值为「1 1 auto」<br>
						如果「flex: none」, 则其计算值为「0 0 auto」<br>
						如果「flex: 0 auto」或者「flex: initial」, 则其计算值为「0 1 auto」，即「flex」初始值
					</span>
				</li>
				<li>item <a href="">flex-grow</a>
					<span>剩余空间的扩展比例,默认值0。
					<br>flex-grow的默认值为0，如果没有显示定义该属性，是不会拥有分配剩余空间权利的。</span>
				</li>
				<li>item <a href="">flex-shrink</a>
					<span>剩余空间的收缩比例,默认1。
					<br>默认情况之下，所有flex项目都可以收缩，但如果将它们设置为0时，他们不会缩小会保持原来的大小。</span>
				</li>
				<li>item <a href="">flex-basis</a>
					<span>如果所有子元素的基准值之和大于剩余空间，则会根据每项设置的基准值，按比率伸缩剩余空间</span>
				</li>
				<li>item <a href="">order</a>
					<span>用整数值来定义排列顺序，数值小的排在前面。可以为负值，默认值0。</span>
				</li>
				<li>item <a href="">align-self</a><span>指定flex项目自身的对齐方式或者使用align-items来指定单个flex项目。
					<br>auto：如果'align-self'的值为'auto'，则其计算值为元素的父元素的'align-items'值，如果其没有父元素，则计算值为'stretch'。
					<br>flex-start：弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴起始边界。
					<br>flex-end：弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴结束边界。
					<br>center：弹性盒子元素在该行的侧轴（纵轴）上居中放置。（如果该行的尺寸小于弹性盒子元素的尺寸，则会向两个方向溢出相同的长度）。
					<br>baseline：如弹性盒子元素的行内轴与侧轴为同一条，则该值与'flex-start'等效。其它情况下，该值将参与基线对齐。
					<br>stretch：如果指定侧轴大小的属性值为'auto'，则其值会使项目的边距盒的尺寸尽可能接近所在行的尺寸，但同时会遵照'min/max-width/height'属性的限制。
				</span></li>
				<li>box <a href="">flex-direction</a>
					<span>该属性设置在flex元素上，非flex项目上。
						<br>row：横向从左到右排列（左对齐），默认的排列方式。
						<br>row-reverse：反转横向排列（右对齐，从后往前排，最后一项排在最前面。
						<br>column：纵向排列。
						<br>row-reverse：反转纵向排列，从后往前排，最后一项排在最上面。
						<br>注意：row和row-reverse依赖其写作模式，如果在rtl上下文方式下，他们都将分别被逆转。
					</span>
				</li>
				<li>box <a href="">flex-wrap</a>
					<span>nowrap：flex容器为单行。该情况下flex子项可能会溢出容器
					<br>wrap：flex容器为多行。该情况下flex子项溢出的部分会被放置到新行，子项内部会发生断行
					<br>wrap-reverse：反转 wrap 排列。</span>
				</li>
				<li>box <a href="">flex-flow</a><span>
					这个属性是flex-direction和flex-wrap属性的简写，默认值：row nowrap。
				</span></li>
				<li>box <a href="">justify-content</a><span>
					水平方向项目的分布方式。
				</span></li>
				<li>box <a href="">align-items</a><span>
					垂直方向单行项目的分布方式。<br>
					flex-start：
					弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴起始边界。<br>
					flex-end：
					弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴结束边界。<br>
					center：
					弹性盒子元素在该行的侧轴（纵轴）上居中放置。（如果该行的尺寸小于弹性盒子元素的尺寸，则会向两个方向溢出相同的长度）。<br>
					baseline：
					如弹性盒子元素的行内轴与侧轴为同一条，则该值与'flex-start'等效。其它情况下，该值将参与基线对齐。<br>
					stretch：
					如果指定侧轴大小的属性值为'auto'，则其值会使项目的边距盒的尺寸尽可能接近所在行的尺寸，但同时会遵照'min/max-width/height'属性的限制。
				</span></li>
				<li>box <a href="">align-content</a><span>
					垂直方向多行项目的分布方式。
				</span></li>
				
				
				
				
			</ul>
			<h4>[<span>-</span>] Grid</h4>
			<ul>
				<li>grid<a href=""></a>
					<span>
					<a href="https://css-tricks.com/snippets/css/complete-guide-grid/">教程</a>
					<br>display: grid | inline-grid | subgrid;
					<br>注意：
					<br>grid盒子上column,float,clear,vertical-align都没有效果。
					</span>
				</li>
				<li>box <a href="">grid-template-columns</a>
					<span>grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
					<br>grid-template-columns: repeat(3, 20px [col-start]) 5%;
					<br>grid-template-columns: 1fr 1fr 1fr;
					</span>
				</li>
				<li>box <a href="">grid-template-rows</a>
					<span>grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];</span>
				</li>
				<li>box <a href="">grid-template-areas</a>
					<span>
						grid-template-areas: "&lt;grid-area-name&gt; | . | none | ..."
                       <br>"..."
					</span>
				</li>
				<li>box <a href="">grid-column-gap</a>
					<span>grid-column-gap: 10px;</span>
				</li>
				<li>box <a href="">grid-row-gap</a>
					<span>grid-row-gap: 15px;</span>
				</li>
				<li>box <a href="">grid-gap</a>
					<span>grid-gap: &lt;grid-column-gap&gt; &lt;grid-row-gap&gt;;</span>
				</li>
				<li>box <a href="">justify-items</a>
					<span>水平方向网格内容的对齐方式。
					<br>justify-items: start | end | center | stretch;</span>
				</li>
				<li>box <a href="">align-items</a>
					<span>垂直方向网格内容的对齐方式。
					<br>align-items: start | end | center | stretch;</span>
				</li>
				<li>box <a href="">justify-content</a>
					<span>水平方向网格的分布方式。
					<br>justify-content: start | end | center | stretch | space-around | space-between | space-evenly;</span>
				</li>
				<li>box <a href="">align-content</a>
					<span>垂直方向网格的分布方式。
					<br>align-content: start | end | center | stretch | space-around | space-between | space-evenly;</span>
				</li>
				<li>box <a href="">grid-auto-columns</a>
					<span>定义隐式自动创建的网格大小
					<br>grid-template-columns: 60px 60px;</span>
				</li>
				<li>box <a href="">grid-auto-rows</a>
					<span>定义隐式自动创建的网格大小
					<br>grid-template-rows: 90px 90px</span>
				</li>
				<li>box <a href="">grid-auto-flow</a>
					<span>定义隐式自动创建的网格大小
					<br>grid-auto-flow: row | column | row dense | column dense</span>
				</li>
				<li>box <a href="">grid</a>
					<span>
					<pre><code data-language="css">
					grid: 200px auto / 1fr auto 1fr;

                    grid-template-rows: 200px auto;
                    grid-template-columns: 1fr auto 1fr;
                    grid-template-areas: none;
                    </code></pre>
					</span>
				</li>
				<li>item <a href="">grid-column-start</a>
					<span></span>
				</li>
				<li>item <a href="">grid-column-end</a>
					<span></span>
				</li>
				<li>item <a href="">grid-row-start</a>
					<span></span>
				</li>
				<li>item <a href="">grid-row-end</a>
					<span></span>
				</li>
				<li>item <a href="">grid-column</a>
					<span></span>
				</li>
				<li>item <a href="">grid-row</a>
					<span></span>
				</li>
				<li>item <a href="">grid-area</a>
					<span></span>
				</li>
				<li>item <a href="">justify-self</a>
					<span></span>
				</li>
				<li>item <a href="">align-self</a>
					<span></span>
				</li>
			</ul>
			<h4>[<span>+</span>] Box</h4>
			<ul style="display:none">
				<li><a href="">display:-webkit-box</a><span>旧手机浏览器<br><a href="http://www.w3cplus.com/css3/css3-flexbox-cheat-sheet.html">兼容处理</a></span></li>
				<li><a href="">-webkit-box-orient</a><span>设置或检索伸缩盒对象的子元素的排列方式。
					<br>horizontal：设置伸缩盒对象的子元素从左到右水平排列
					<br>vertical：设置伸缩盒对象的子元素从上到下纵向排列
					<br>inline-axis：设置伸缩盒对象的子元素沿行轴排列
					<br>block-axis：设置伸缩盒对象的子元素沿块轴排列
				</span></li>
				<li><a href="">-webkit-box-pack</a><span>设置或检索伸缩盒对象的子元素的对齐方式。
					<br>start：设置伸缩盒对象的子元素从开始位置对齐（大部分情况等同于左对齐，受）
					<br>center：设置伸缩盒对象的子元素居中对齐
					<br>end：设置伸缩盒对象的子元素从结束位置对齐（大部分情况等同于右对齐）
					<br>justify：设置或伸缩盒对象的子元素两端对齐</span></li>
				<li><a href="">-webkit-box-align</a><span>设置或检索伸缩盒对象的子元素的对齐方式。
					<br>start：设置伸缩盒对象的子元素从开始位置对齐
					<br>center：设置伸缩盒对象的子元素居中对齐
					<br>end：设置伸缩盒对象的子元素从结束位置对齐
					<br>baseline：设置伸缩盒对象的子元素基线对齐
					<br>stretch：设置伸缩盒对象的子元素自适应父元素尺寸</span></li>
				<li><a href="">-webkit-box-flex</a><span>使用浮点数指定对象所分配其父元素剩余空间的比例。
				</span></li>
				<li><a href="">-webkit-box-flex-group</a><span>用整数值来定义伸缩盒对象的子元素所在的组。</span></li>
				<li><a href="">-webkit-box-ordinal-group</a><span>用整数值来定义伸缩盒对象的子元素显示顺序。</span></li>
				<li><a href="">-webkit-box-direction</a><span>设置或检索伸缩盒对象的子元素的排列顺序是否反转。normal | reverse</span></li>
				<li><a href="">-webkit-box-lines</a><span>设置或检索伸缩盒对象的子元素是否可以换行显示。single | multiple</span></li>
			</ul>
		</div>
	</div>
</div>