<div class="u-col">
  	<div class="u-block">
  		<h3>其它<span>-</span></h3>
	  	<div class="u-list">
	  		<h4>[<span>-</span>] 语法规则</h4>
			<ul>
			  <li>
			      <a href="">@charset</a>
			      <span>@charset "utf-8";
			      <br>在外部样式表文件内使用。指定该样式表使用的字符编码。
			      <br>该规则后面的分号是必需的，如果省略了此分号，会生成错误信息。</span>
			  </li>
			  <li>
			      <a href="">@import</a>
			      <span>指定导入的外部样式表
			      <br>@import url('demo.css') screen and (min-width:800px);
			      <br>该规则必须在样式表头部最先声明,并且其后的分号是必需的.IE9以前不支持.
			      </span>
			  </li>
			  <li>
			      <a href="">@supports</a>
			      <span>检测是否支持某CSS特性
			      <br>@supports (rule) or | and | not (rule)
			      </span>
			  </li>
			  <li>
			      <a href="">@media</a>
			      <span><a href="http://css.doyoe.com/rules/@media.htm">详细资料</a>
			      <br>@media [only/not] 媒体类型 [and (媒体特性表达式)] {你的样式}
			      <br>例：@media only/not print and (max-width: 1200px){样式代码}
			      <br>IE8及以下只能实现CSS2中的部分，即只可以设置媒体类型。
			      <br>其中部分支持max&min
			      </span>
			  </li>
			</ul>
			<h4>[<span>+</span>] 打印</h4>
			<ul style="display:none;">
			  <li><a href="">@page</a><span>设置页面容器的版式，方向，边空等。可增加@page name</span></li>
			  <li><a href="">@page:first</a><span>设置在打印时页面容器第一页使用的样式。</span></li>
			  <li><a href="">@page:left</a><span>设置页面容器位于装订线左边的所有页面使用的样式。</span></li>
			  <li><a href="">@page:right</a><span>设置页面容器位于装订线右边的所有页面使用的样式。</span></li>
			  <li><a href="">page</a><span>检索或指定显示对象容器时使用的页面类型。需要先用@page定义name，调用ele{page:name;}</span></li>
			  <li><a href="">page-break-before</a><span>检索或设置对象之前出现的页分割符。</span></li>
			  <li><a href="">page-break-after</a><span>检索或设置对象之后出现的页分割符。</span></li>
			  <li><a href="">page-break-inside</a><span>检索或设置对象容器内部出现的页分割符。</span></li>
			</ul>
		</div>
  	</div>
  	<div class="u-block">
        <h3>框架<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Less</h4>
            <ul>
                <li>
                    <a href="http://less.bootcss.com/">Less中文文档</a>
                </li>
            	<li>
                    <a href="">@var</a>变量
                    <span>
                    	.@{mySelector}{rule..} <br>
                    	@{property}:value <br>
                    	background: url("@{url}/white-sand.png"); <br>
                    	<hr>
                    	@fnord:  "I am fnord."; <br>
						@var:    "fnord"; <br>
						content: @@var; <br>
                    </span>
                </li>
                <li>
                	<a href="https://less.bootcss.com/features/#extend-feature">&:extend(.obj all)</a>继承
                	<span>.e:extend(.f,.p all) {}</span>
                </li>
                <li>
                	<a href="http://less.bootcss.com/functions/#functions-overview">Function 函数</a>
                	<span></span>
                </li>
                <li>
                	<a href="">Mixin 混合</a>
                	<span>
                		随机数需在min下捕捉 <br>
                        <a href="https://stackoverflow.com/questions/43258855/how-to-create-a-random-keyframes-name-by-less-fix-the-space-or-quote-symbol/43271830#43271830" target="_blank">参考资料</a>
                	</span>
                </li>
                <li>
                    <a href="">~ 避免编译</a>
                    <span>
                    	~ 特殊内容 <br>
                    	~`'goTop_'+Math.round(Math.random() * 1.0e8)` 字符串连接解析 <br>
                    	其中包括calc()运算函数在LESS中需要避免编译
                    </span>
                </li>
                <li>
                    <a href="">` JS表达式</a>
                    <span></span>
                </li>
                <li>
                    <a href="">when 条件与循环</a>
                    <span>
                    	.mixin (@a; @b: 0) when (isnumber(@b)) { ... } <br>
                    	.mixin (@a; @b: black) when (iscolor(@b)) { ... } <br>

                    	循环
<pre><code data-language="css">
.generate-columns(4);

.generate-columns(@n, @i: 1) when (@i =< @n) {
  .column-@{i} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1));
}

//输出
.column-1 {
  width: 25%;
}
.column-2 {
  width: 50%;
}
.column-3 {
  width: 75%;
}
.column-4 {
  width: 100%;
}
</code></pre>
                    </span>
                </li>
            </ul>
      </div>
    </div>
  	<div class="u-block">
        <h3>工具<span>+</span></h3>
        <div class="u-list" style="display:none;">
            <h4>[<span>-</span>] 动画</h4>
            <ul>
                <li>
                    <a href="http://jeremyckahn.github.io/stylie/">Stylie</a>
                    <span>自定义缓动函数预览</span>
                </li>
            </ul>
            <h4>[<span>-</span>] 字体</h4>
            <ul>
                <li>
                    <a href="https://www.fontsquirrel.com/">Fontsquirrel</a>
                    <span>字体转换</span>
                </li>
                <li>
                    <a href="http://iconfont.cn/">Iconfont</a>
                    <span>字体图标</span>
                </li>
                <li>
                    <a href="http://font-spider.org/">FontSpider</a>
                    <span>中文字体提取</span>
                </li>
                <li>
                    <a href="http://www.cssfontstack.com/">CSS Font Stack</a>
                    <span>字体覆盖率查询</span>
                </li>
            </ul>
            <h4>[<span>-</span>] 图像</h4>
            <ul>
                <li><a href="http://www.gradient-scanner.com/" >
                    Gradient Scanner
                    </a>
                    <span>Open an image that contains a gradient and then draw a line over the major components of the gradient.</span>
                </li>
                <li><a href="http://www.colorzilla.com/gradient-editor/" >
                    Ultimate CSS Gradient Generator
                    </a>
                    <span>A powerful Photoshop-like CSS gradient editor from ColorZilla.</span>
                </li>
                <li><a href="http://www.pjhome.net/web/html5/encodeDataUrl.htm" >
                    BASE64</a>
                    <span>Image to BASE64.</span>
                </li>
                <li><a href="http://www.peise.net/tools/web/" >
                    Color Scheme Designer</a>
                    <span>Color Scheme Designer online.</span>
                </li>
            </ul>
            <h4>[<span>-</span>] 边框阴影</h4>
            <ul>
                <li><a href="http://apps.eky.hk/css-triangle-generator/" >
                    CSS triangle generator</a>
                    <span>Generator a triangle by css border.</span>
                </li>
                <li><a href="http://border-image.com/" >
                    Border image generator</a>
                    <span>Border image generator.</span>
                </li>
                <li><a href="http://www.css3d.net/ribbon-generator/" >
                    3D Ribbon Generator</a>
                    <span>Generator a Ribbon by css.</span>
                </li>
                <li><a href="http://css3-drop-shadows.herokuapp.com/app" >
                    Drop Shadows</a>
                    <span>CSS3 Drop Shadows Generator.</span>
                </li>
                <li><a href="http://iruxu.com/to-be-css/shadow_longshadows.html" >
                    Long Shadows</a>
                    <span>CSS3 Long Shadows Generator.</span>
                </li>
            </ul>
            <h4>[<span>-</span>] 其它</h4>
            <ul>
                <li>
                    <a href="http://pxtoem.com/">PXtoEM</a>
                    <span>PX to EM conversion made simple.</span>
                </li>
                <li>
                    <a href="http://screensiz.es/phone">Screen Sizes</a>
                    <span>SmartPhones/Tablets/Monitors size statistics.</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>书签<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 文档</h4>
            <ul>
                <li>
                    <a href="http://caniuse.com/">Can I Use</a>
                </li>
                <li>
                    <a href="http://css.doyoe.com/">CSS中文参考手册</a>
                </li>
                <li>
                    <a href="https://www.w3.org/Style/CSS/">W3C</a>
                </li>
            </ul>
            <h4>[<span>-</span>] 动态</h4>
            <ul>
                <li>
                    <a href="http://www.css3.info/">CSS INFO</a>
                </li>
                <li>
                    <a href="http://www.w3cplus.com/">W3cplus</a>
                </li>
                <li>
                    <a href="http://tgideas.qq.com/">TGideas</a>
                </li>
            </ul>
            <h4>[<span>-</span>] 资料</h4>
            <ul>
                <li><a href="https://github.com/AlloyTeam/Mars">移动web知识库</a></li>
            </ul>
      </div>
    </div>
</div>