<div id="DB" class="c-tab">
	{{import 'module/db/db0'}}
	{{import 'module/db/db1'}}
	{{import 'module/db/db2'}}
	{{import 'module/db/db3'}}
	{{!import 'module/db/db4'}}
	{{!import 'module/db/db5'}}
	{{!import 'module/db/db6'}}
</div>