<div class="u-col">
	<div class="u-block">
		<h3>MySQL-设计<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>] 数据类型</h4>
			<ul>
				<li>
					<a href="">int</a> UNSIGNED
					<span>
						整数；4字节  <br>
						UNSIGNED 无符号 0及正数 <br>
						<img src="image/sql/int.png" alt="">
					</span>
				</li>
				<li>
					<a href="">float</a>
					<span>
						单精度浮点数；4字节
					</span>
				</li>
				<li>
					<a href="">double</a>
					<span>
						双精度浮点数；8字节
					</span>
				</li>
				<li>
					<a href="">char</a>
					<span>
						定长字符串（0~255）
					</span>
				</li>
				<li>
					<a href="">varchar</a>(len)
					<span>
						变长字符串（0~255）
					</span>
				</li>
				<li>
					<a href="">text</a>
					<span>
						长文本数据（0~65535）
					</span>
				</li>
				<li>
					<a href="">enum</a>
					<span>
						单选 enum('female','male')
					</span>
				</li>
				<li>
					<a href="">set</a>
					<span>
						多选 set('a','b','c')
					</span>
				</li>
				<li>
					<a href="">date</a>
					<span>
						日期YYYY-MM-DD；3字节
					</span>
				</li>
				<li>
					<a href="">time</a>
					<span>
						时间点或持续时间HH:MM:SS；3字节
					</span>
				</li>
				<li>
					<a href="">timestamp</a>
					<span>
						UTC
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>MySQL-管理<span>-</span></h3>
		<div class="u-list" style="display:none;">
			<h4>[<span>+</span>] 启动退出</h4>
			<ul style="display:none;">
				<li>
					<a href="">sudo service mysql start</a>
					<span>
						打开mysql服务
					</span>
				</li>
				<li>
					<a href="">mysql -u root</a>
					<span>
						连接数据库 <br>
					</span>
				</li>
				<li>
					<a href="">quit</a>
					<span>
						\q 退出
					</span>
				</li>
			</ul>
			<h4>[<span>+</span>] 导入导出</h4>
			<ul style="display:none;">
				<li>
					<a href="">load data infile</a> $file into table tname
					<span>
						导入文件数据到表 <br>
						LOAD DATA INFILE '文件路径和文件名' INTO TABLE 表名字;
					</span>
				</li>
				<li>
					<a href="">select * into outfile</a> $file from tname
					<span>
						导出数据到文件 <br>
						SELECT 列1，列2 INTO OUTFILE '文件路径和文件名' FROM 表名字;
					</span>
				</li>
			</ul>
			<h4>[<span>+</span>] 备份恢复</h4>
			<ul style="display:none;">
				<li>
					<a href="">mysqldump</a> -u root dname>$file
					<span>
						mysqldump -u root 数据库名>备份文件名;   #备份整个数据库 <br>
						mysqldump -u root 数据库名 表名字>备份文件名;  #备份整个表
					</span>
				</li>
				<li>
					<a href="">source</a> $file.sql
					<span>
						执行sql
					</span>
				</li>
				<li>
					mysql -u root tname <a href="">&lt;</a> $file.sql
					<span>
						导入sql
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>MySQL-库<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>] 库操作</h4>
			<ul>
				<li>
					<a href="">show databases</a>
					<span>
						查看全部数据库
					</span>
				</li>
				<li>
					<a href="">create database</a> dname
					<span>
						创建数据库
					</span>
				</li>
				<li>
					<a href="">drop database</a> dname
					<span>
						删除数据库
					</span>
				</li>
				<li>
					<a href="">use</a> dname
					<span>
						选择数据库
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>MySQL-表<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>] 表操作</h4>
			<ul>
				<li>
					<a href="">show tables</a>
					<span>
						查看当前数据库里有几张表
					</span>
				</li>
				<li>
					<a href="">create table</a> tname (~)
					<span>
						create table tname ($key $type($len) $constraint,..); <br>
						新建表，必须至少有一列
					</span>
				</li>
				<li>
					<a href="">drop table</a> tname
					<span>
						删除表
					</span>
				</li>
				<li>
					<a href="">alter table</a> tname ..
					<span>
						修改表
					</span>
				</li>
				<li>
					<a href="">truncate table</a> tname
					<span>
						复位表 <br>
						truncate table tablename，直接删除表的所有数据，自增字段从初始值开始 <br> 
						dbcc checkident(table,reseed,1)，不删除表中数据，重新设置自增字段的起始值 <br> 
						alter table tablename auto_increment=1，不删除表中数据，重新设置自增字段的起始值 
					</span>
				</li>
				<li>
					{alter} <a href="">rename</a> _tname
					<span>
						重命名一张表 <br>
						RENAME TABLE 原名 TO 新名字; <br>
						ALTER TABLE 原名 RENAME 新名; <br>
						ALTER TABLE 原名 RENAME TO 新名;
					</span>
				</li>
				<li>
					{alter} <a href="">add column</a> ~
					<span>
						添加列 <br>
						alter table $tname add column $key $type($len) $constraint <br>
						after $key/first 指定位置
					</span>
				</li>
				<li>
					{alter} <a href="">drop column</a> $key
					<span>
						删除列
					</span>
				</li>
				<li>
					{alter} <a href="">modify</a> ~
					<span>
						修改列(仅修改数据类型) <br>
						alter table $tname modify $key $new_type <br>
						after $key/first 指定位置
					</span>
				</li>
				<li>
					{alter} <a href="">change $key</a>  ~
					<span>
						修改列(修改名称与属性) <br>
						alter table $tname change $old_key $new_key $type($len) $constraint <br>
						after $key/first 指定位置
					</span>
				</li>
				<li>
					{alter} <a href="">add index</a> $index ($key);
					<span>
						ALTER TABLE 表名字 ADD INDEX 索引名 (列名); <br>
						CREATE INDEX 索引名 ON 表名字 (列名);
					</span>
				</li>
				<li>
					<a href="">desc</a> tname
					<span>
						查看表字段属性
					</span>
				</li>
			</ul>
			<h4>[<span>-</span>] SQL约束</h4>
			<ul>
				<li>
					<a href="">$key $type($len) $constraint</a>
					<span>
						列名称 列类型(长度) 约束
					</span>
				</li>
				<li>
					{key} <a href="">primary key</a>
					<span>
						单个主键 <br>
						指定的一列的值必须不能有重复值
					</span>
				</li>
				<li>
					{key} <a href="">default</a> val
					<span>
						设置默认值
					</span>
				</li>
				<li>
					{key} <a href="">not null</a>
					<span>
						被非空约束的列，在插入值时必须非空
					</span>
				</li>
				<li>
					{key} <a href="">auto_increment</a>
					<span>
						自增，必须设为主键 <br>
						alter table tname auto_increment=100
						修改初始值
					</span>
				</li>
				<li>
					constraint _key <a href="">primary key</a> (key,..)
					<span>
						constraint _key primary key (key,..) <br>
						指定一个或多个键设为主键	
					</span>
				</li>
				<li>
					constraint _key <a href="">foreign key</a> (key) references tname(col)
					<span>
						constraint _key foreign key (key) references tname(col) <br>
						指定一个外键；每个外键必须 REFERENCES (参考) 另一个表的主键，被外键约束的列，取值必须在它参考的列中有对应值。
						<hr>
						RESTRICT(限制)：如果你想删除的那个主表，它的下面有对应从表的记录，此主表将无法删除<br>
						CASCADE ：如果主表中的纪录删除后，从表中的信息也会消失<br>
						SET NULL：将外键设置为空。<br>
						NO action : 什么也不做
					</span>
				</li>
				<li>
					<a href="">unique</a> (key)
					<span>
						指定的一列的值必须不能有重复值
					</span>
				</li>
			</ul>
		</div>
    </div>
</div>