<div class="u-col">
	<div class="u-block">
        <h3>MySQL-数据<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>] 增删改查</h4>
			<ul>
				<li>
					<a href="">insert into</a> tname ..
					<span>
						插入一条/多条数据<br>
						insert into tname [($key)] values ($val,..) 
					</span>
				</li>
				<li>
					<a href="">delete from</a> tname ..
					<span>
						删除一条数据 <br>
						delete from tname where ..
					</span>
				</li>
				<li>
					<a href="">update</a> tname set $key=val
					<span>
						修改值 <br>
						update tname set $key=val,.. where ..
					</span>
				</li>
				<li>
					<a href="">select</a> $key from tname
					<span>
						选择数据 <br>
						select */$key/$key.. from tname where ..
					</span>
				</li>
			</ul>
			<h4>[<span>-</span>] 条件</h4>
			<ul>
				<li>
					where .. <a href="">and/or</a> ..
					<span>
						符合指定条件 
					</span>
				</li>
				<li>
					$key <a href="">is [not] null</a>
					<span>
						是否为空值
					</span>
				</li>
				<li>
					$key <a href="">between</a> .and.
					<span>
						包含两个边界值的范围
					</span>
				</li>
				<li>
					$key <a href="">in/not in</a> (val..)
					<span>
						某个值在/不在某个范围
					</span>
				</li>
				<li>
					$key <a href="">like</a> _%
					<span>
						_ 代表一个未指定字符，% 代表不定个未指定字符
					</span>
				</li>
				<li>
					$key <a href="">regexp</a> $regexp
					<span>
						根据正则表达式查询
					</span>
				</li>
				<li>
					.. <a href="">order by</a> $key/asc/desc
					<span>
						默认升序，可指定为desc降序，也可以指定根据某个key，例如id
					</span>
				</li>
				<li>
					.. <a href="">group by</a> $key
					<span>
						分组
					</span>
				</li>
				<li>
					.. <a href="">limit</a> n
					<span>
						设定返回的记录数
					</span>
				</li>
                <li>
                    .. <a href="">offset</a> n
                    <span>
                        设置偏移量，默认为0
                    </span>
                </li>
            </ul>
			<h4>[<span>-</span>] 连接</h4>
			<ul>
				<li>
					$t1 <a href="">join</a> $t2 on ~
					<span>
						连接多个表查询 <br>
						条件中设置合并的键相等 <br>
						$t1 join $t2 on ~ == $t1,$t2 where ~
					</span>
				</li>
				<li>
					s1 <a href="">union</a> s2
					<span>
						合并去重2个选择表达式结果
					</span>
				</li>
			</ul>
			<h4>[<span>-</span>] 视图</h4>
			<ul>
				<li>
					<a href="">create view</a> vname
					<span>
						创建视图 <br>
						create view vname(vkey,..) as select $key,.. from tname;
					</span>
				</li>
			</ul>
			<h4>[<span>-</span>] 函数</h4>
			<ul>
				<li>
					select <a href="">fn($key)</a>,.. from tname
					<span>
						count计数；sum求和；avg平均值；max最大值；min最小值
					</span>
				</li>
			</ul>
        </div>
    </div>
    <div class="u-block">
        <h3>MySQL-Python<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 驱动</h4>
            <ul>
                <li>
                    <a href="">mysql-connector</a>
                    <span>
                        安装 python -m pip install mysql-connector <br>
                        导入 import mysql.connector
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] API</h4>
            <ul>
                <li>
                    mydb=connector<a href="">.connect()</a>
                    <span>
                        mydb = mysql.connector.connect(
                        host="localhost",
                        user="root",
                        passwd="123456"
                        )
                    </span>
                </li>
                <li>
                    mycursor=mydb<a href="">.cursor()</a>
                    <span>
                        mycursor = mydb.cursor()
                    </span>
                </li>
                <li>
                    mycursor.<a href="">execute</a>(sql)
                    <span>
                        mycursor.execute("CREATE DATABASE xxx_db")
                    </span>
                </li>
            </ul>
        </div>
        <h3>MySQL-PHP<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>+</span>] 面向对象</h4>
            <ul style="display:none;">
                <li>
                    <a href="">new mysqli</a><em>($host,$user,$pwd)</em>
                    <span>
                        连接数据库
                    </span>
                </li>
                <li>
                    $conn-><a href="">connect_error</a>
                    <span>
                        if($conn->connect_error){die(..)}
                    </span>
                </li>
                <li>
                    $conn-><a href="">query</a>($sql)
                    <span>
                        执行sql命令，返回结果
                    </span>
                </li>
                <li>
                    $conn-><a href="">multi_query</a>($sql)
                    <span>
                        执行多条sql命令（字符串拼接）
                    </span>
                </li>
                <li>
                    <a href="">mysqli_fetch_array</a>($result)
                    <span>
                        从结果集中取得一行作为关联数组，或数字数组，或二者兼有
                    </span>
                </li>
                <li>
                    $conn-><a href="">error</a>
                    <span>
                        query执行失败时的失败信息
                    </span>
                </li>
                <li>
                    $conn-><a href="">close()</a>
                    <span>
                        关闭连接
                    </span>
                </li>
                <li>
                    $conn-><a href="">prepare</a>($sql?)
                    <span>
                        预处理 <br>
                        $stmt = $conn->prepare("INSERT INTO MyGuests (firstname, lastname, email) VALUES (?, ?, ?)");
                    </span>
                </li>
                <li>
                    $stmt-><a href="">bind_param</a>($type,$val)
                    <span>
                        绑定 <br>
                        $stmt->bind_param("sss", $firstname, $lastname, $email); <br>
                        s字符串，i整型，d双精度浮点，b二进制大对象
                    </span>
                </li>
                <li>
                    $stmt-><a href="">execute()</a>
                    <span>

                    </span>
                </li>
                <li>
                    $stmt-><a href="">close()</a>
                    <span>

                    </span>
                </li>
            </ul>
            <h4>[<span>+</span>] 面向过程</h4>
            <ul style="display:none;">
                <li>
                    <a href="">mysqli_connect</a><em>($host,$user,$pwd)</em>
                    <span>

                    </span>
                </li>
                <li>
                    <a href="">mysqli_connect_error()</a>
                    <span>
                        if (!$conn) {die(mysqli_connect_error());}
                    </span>
                </li>
                <li>
                    <a href="">mysqli_query</a>($conn,$sql)
                    <span>

                    </span>
                </li>
                <li>
                    <a href="">mysqli_multi_query</a>($conn,$sql)
                    <span>

                    </span>
                </li>
                <li>
                    <a href="">mysqli_error</a>($conn)
                    <span>

                    </span>
                </li>
            </ul>
            <h4>[<span>+</span>] PDO</h4>
            <ul style="display:none;">
                <li>
                    <a href="">new PDO</a>("mysql:host=$host;dbname=$db", $username, $password);
                    <span>
                        try{$conn = new PDO("mysql:host=$servername;dbname=myDB", $username, $password);}
                    </span>
                </li>
                <li>
                    catch (<a href="">PDOException $e</a>)
                    <span>
                        $e->getMessage();
                    </span>
                </li>
                <li>
                    $conn-><a href="">exec</a>($sql)
                    <span>

                    </span>
                </li>
                <li>
                    $conn-><a href="">beginTransaction()</a>
                    <span>
                        开始事务
                    </span>
                </li>
                <li>
                    $conn-><a href="">commit()</a>
                    <span>
                        提交事务
                    </span>
                </li>
                <li>
                    $conn=<a href="">null</a>
                    <span>

                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>