<div class="u-col">
  <div class="u-block">
      <h3>入门</a><span>-</span></h3>
      <div class="u-list">
      		<h4>[</a><span>-</span>] 下载</h4>
            <ul>
                <li>
                    <a href="https://git-scm.com/download/linux">Linux</a>
                </li>
                <li>
                  <a href="https://git-scm.com/download/mac">Mac</a>
                </li>
                <li>
                  <a href="https://git-for-windows.github.io/">Windows</a>
                </li>
                <li>
                    <a href="https://git-scm.com/book/zh/v2/%E8%B5%B7%E6%AD%A5-%E5%AE%89%E8%A3%85-Git">More..</a>
                </li>
            </ul>
            <h4>[</a><span>-</span>] 资料</h4>
            <ul>
                <li>
                    <a href="https://git-scm.com/book/zh/v2/">官方教程</a>
                </li>
                <li>
                    <a href="https://git-scm.com/docs">参考手册</a>
                </li>
                <li>
                    <a href="">git $cmd --help</a>
                </li>
            </ul>
            <h4>[</a><span>-</span>] 配置</h4>
            <ul>
                <li>
                    <a href="">配置用户</a>
                    <span>
                        $ git config --global user.name "username" <br>
                        $ git config --global user.email user@example.com <br>

                        使用了 --global 选项，那么该命令只需要运行一次，因为之后无论你在该系统上做任何事情， Git 都会使用那些信息。 当你想针对特定项目使用不同的用户名称与邮件地址时，可以在那个项目目录下运行没有 --global 选项的命令来配置。
                    </span>
                </li>
                <li>
                    <a href="">git config --list</a>
                </li>
            </ul>
      </div>
  </div>
</div>