<div class="u-col">
  <div class="u-block">
      <h3>基础</a><span>-</span></h3>
      <div class="u-list">
      		<h4>[</a><span>-</span>] 创建或克隆</h4>
            <ul>
                <li>
                    <a href="">init</a>
                    <span>初始化</span>
                </li>
                <li>
                    <a href="">clone</a>
                    <span>克隆一个项目<br>
                    git clone [url] [dir] <br>
                    支持多种数据传输协议，url可以为https:// 、git:// 、git@ 、user@server:path/to/repo.git等。<br>
                    dir缺省时，会创建一个和项目同名的目录；指定dir时生成对应的文件夹名；./时则在此目录下直接克隆。
                    </span>
                </li>
                <li>
                    fork<a href=""></a>
                    <span>从别人的项目分支一个版本至你的git服务器仓库</span>
                </li>
            </ul>
            <h4>[</a><span>-</span>] 基本流程</h4>
            <ul>
                <li>
                    <a href="">status</a>
                    <span>检查状态<br>
                        git status -s 简易查看
                    </span>
                </li>
                <li>
                    <a href="">add</a>
                    <span>跟踪新文件<br>
                    </span>
                </li>
            </ul>
      </div>
  </div>
</div>