<div class="u-col">
  <div class="u-block">
      <h3>资料</a><span>-</span></h3>
      <div class="u-list">
      		<h4>[</a><span>-</span>] 手册</h4>
            <ul>
                <li>
                    <a href="">-webkit-text-size-adjust:100%</a>
                    <span>开启文字调整（WEBKIT默认最小只支持12px大小字）<br>
                    <a href="http://www.document-write.com/archives/1">参考资料</a>
                    </span>
                </li>
            </ul>
            <h4>[</a><span>-</span>] 教程</h4>
            <ul>
                <li>
                    <a href="https://git-scm.com/book/zh/v2/">官方教程中文版v2</a>
                </li>
            </ul>
      </div>
  </div>
</div>