<div class="u-col">
  <div class="u-block">
      <h3>回档</a><span>-</span></h3>
      <div class="u-list">
            <h4>[</a><span>-</span>] 回退</h4>
            <ul>
                <li>
                    <a href="">reset</a> --hard (SHA1)
                    <span>
                    HEAD表示当前版本，上一个版本就是HEAD^，上上一个版本就是HEAD^^，往上100个版本HEAD~100。<br> 
                    </span>
                </li>
            </ul>
      </div>
  </div>
</div>