<div class="u-col">
  <div class="u-block">
      <h3>参考资料</a><span>-</span></h3>
      <div class="u-list">
		<h4>[</a><span>-</span>] 手册</h4>
		<ul>
		    <li>
		        <a href="https://git-scm.com/docs">参考手册</a>
		    </li>
		    <li><a href="https://git-scm.com/book/zh/v2/">官方教程</a></li>
		</ul>
		<h4>[</a><span>+</span>] 教程</h4>
		<ul style="display:none">
		    <li><a href="https://www.shiyanlou.com/courses/4">Git实践</a></li>
		    <li><a href="https://www.shiyanlou.com/courses/616">Git服务器实践</a></li>
		    <li><a href="http://gitbook.liuhui998.com/">Git Community Book 中文版</a></li>
		    <li><a href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000/">廖雪峰版</a></li>
		</ul>
	</div>
  </div>
</div>