<div class="u-col">
    <div class="u-block">
        <h3>配置<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 选项</h4>
            <ul>
                <li>
                    <a href="">ini_get</a>($opt)
                    <span>
                        获取一个php.ini配置选项的值 <br>
                        返回字符串 <br>
                        <a href="https://www.php.net/manual/zh/function.ini-get.php">参考资料</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>