<div class="footer">
	<h5>BOOKMARK</h5>
	<div>
		<h6>Document<span>-</span></h6>
		<ul>
		<li><a href="http://www.w3.org/TR/">W3C Standards and drafts</a></li>
		<li><a href="http://caniuse.com/">Can I Use</a></li>
		<li><a href="http://css.doyoe.com/">CSS Reference Manual</a></li>
		<li><a href="http://www.css88.com/jqapi-1.9/">jQuery API</a></li>
		<li><a href="http://www.css88.com/jquery-ui-api/">jQuery UI Manual</a></li>
		<li><a href="http://www.css88.com/doc/zeptojs_api/">ZeptoJS API</a></li>
		<li><a href="http://www.css88.com/doc/backbone/">Backbone</a></li>
		<li><a href="http://www.css88.com/doc/underscore/">Underscore.js</a></li>
		<li><a href="http://www.requirejs.cn/">require.js</a></li>
		<li><a href="http://docs.angularjs.cn/">AngularJS API</a></li>
		<li><a href="http://nodeapi.ucdok.com/api/">Nodejs API</a></li>
		</ul>
	</div>


	<div>
		<h6>Tutorial<span>-</span></h6>
		<ul>
		<li><a href="http://stackoverflow.com/">stackoverflow</a></li>
		<li><a href="http://www.w3schools.com/">w3school (EN)</a></li>
		<li><a href="http://www.w3cschool.cc/">w3school (CN)</a></li>
		<li><a href="http://www.imooc.com/course/list">慕课网</a></li>
		<li><a href="http://study.163.com/find.htm">网易云课堂</a></li>
		<li><a href="http://www.shiyanlou.com/courses/">实验楼</a></li>
		<li><a href="http://www.jikexueyuan.com/">极客学院</a></li>
		<li><a href=""></a></li>
		</ul>
	</div>

	<div>
		<h6>News<span>-</span></h6>
		<ul>
		<li><a href="http://www.csdn.net/">CSDN</a></li>
		<li><a href="http://gdweb.co.kr/">GDWEB.CO.KR</a></li>
		<li><a href="http://www.w3cfuns.com/portal.php">W3C FUNS</a></li>
		<li><a href="http://www.woshipm.com/">人人都是产品经理</a></li>
		<li><a href="http://www.uisdc.com/">优秀网页设计</a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		</ul>
	</div>

	<div>
		<h6>Blog<span>-</span></h6>
		<ul>
		<li><a href="http://www.html-js.com/">前端乱炖</a></li>
		<li><a href="http://www.incaseofstairs.com/">incaseofstairs</a></li>
		<li><a href="http://www.zhangxinxu.com/wordpress/">zhangxinxu</a></li>
		<li><a href="http://blog.csdn.net/freshlover">freshlover</a></li>
		<li><a href="http://cssha.com/">安记</a></li>
		<li><a href="http://www.qianduan.net/">前端观察</a></li>
		<li><a href="http://himeters.com/">himeters</a></li>
		<li><a href="http://tympanus.net/codrops/">Codrops</a></li>
		<li><a href="http://tutorialzine.com/">Tutorial Zine</a></li>
		<li><a href="http://demosthenes.info/">demosthenes</a></li>
		<li><a href="http://fex.baidu.com/">Baidu FEX</a></li>
		<li><a href="http://www.alloyteam.com/">Alloyteam</a></li>
		<li><a href="http://ued.taobao.org/blog/">Taobao UED</a></li>
		<li><a href="http://isux.tencent.com/">Tencent ISUX</a></li>
		<li><a href="http://www.css3.info/">CSS Info</a></li>
		<li><a href="http://www.w3cplus.com/">W3C PLUS</a></li>
		<li><a href="http://www.css88.com/">CSS88</a></li>
		<li><a href="http://www.cnblogs.com/cate/108703/">cnblogs</a></li>
		</ul>
	</div>

	<div>
		<h6>[CD]Toolbox<span>-</span></h6>
		<ul>
		<li><a href="http://tool.oschina.net/encode">编码转换</a></li>
		<li><a href="http://www.bejson.com/go.html?u=http://www.bejson.com/jshtml_fmt.html">JS-HTML互转</a></li>
		<li><a href="http://www.bejson.com/go.html?u=http://www.bejson.com/xml2json">JSON-JS互转</a></li>
		<li><a href="http://cdn.code.baidu.com/">百度静态资源公共库</a></li>
		
		</ul>
	</div>

	<div>
		<h6>[DS]Toolbox<span>-</span></h6>
		<ul>
		<li><a href="http://iruxu.com/to-be-css">To Be CSS</a></li>
		<li><a href="http://ecd.tencent.com/css3/tools.html">Animation</a></li>
		<li><a href="https://icomoon.io/app/#/select">icomoon</a></li>
		<li><a href="http://iconfont.cn/repositories/10">iconfont</a></li>
		<li><a href="http://v3.bootcss.com/components">Glyphicons</a></li>
		<li><a href="http://www.fontsquirrel.com/tools/webfont-generator">Fontsquirrel</a></li>
		<li><a href="http://zh.fonts2u.com/index.html">Font2U</a></li>
		<li><a href="http://www.youziku.com/Home/FontSelect">有字库</a></li>
		<li><a href="http://ttf2eot.sebastiankippe.com/">TTF->EOT</a></li>
		<li><a href="http://everythingfonts.com/">everyfonts</a></li>
		<li><a href="http://banner.alimama.com/">Banner Maker</a></li>
		<li><a href="http://www.thumbalizr.com/index.php">Thumbalizr</a></li>
		</ul>
	</div>

	<div>
		<h6>KACI<span>-</span></h6>
		<ul>
		<li><a href="http://www.flaticon.com/">Flaticon</a></li>
		<li><a href="http://www.deviantart.com/">deviantART</a></li>
		<li><a href="http://xiaba.shijue.me/stuff/?ref=main_nav">视觉中国下吧</a></li>
		<li><a href="http://www.nipic.com/index.html">昵图网</a></li>
		<li><a href="http://www.colourlovers.com/">Color Lovers</a></li>
		<li><a href="http://www.shapes4free.com/">Photoshop Shape</a></li>
		<li><a href="http://www.brusheezy.com/">Photoshop Brush</a></li>
		<li><a href="http://subtlepatterns.com/">Photoshop Pattern</a></li>
		<li><a href="http://www.bittbox.com/">Bittbox Textures</a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		</ul>
	</div>

	<div>
		<h6>Common<span>-</span></h6>
		<ul>
		<li><a href="http://translate.google.cn/">Google翻译</a></li>
		<li><a href="http://fanyi.baidu.com/translate#auto/zh/">百度翻译</a></li>
		<li><a href="https://wen.lu/">谷歌搜索</a></li>
		<li><a href="http://www.365rili.com/main/calendar.do">365日历</a></li>
		<li><a href="http://pan.baidu.com/disk/home">百度网盘</a></li>
		<li><a href="https://app.yinxiang.com/Home.action#b=a024fb9c-7f4a-4996-b86b-7407f9e69e86&st=p&n=72dbe90b-15d1-48dc-a7b5-d2e80faf197d">印象笔记</a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		</ul>
	</div>
</div> 