<div id="RegEXP" class="content" style="display:none">
		<div class="exp_info">
			<b>字符类：单个字符和数字</b>
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">
			元字符/元符号</td>
			<td valign="top">
			匹配情况</td>
			</tr>
			<tr>
			<td valign="top">
			<b>.</b></td>
			<td valign="top">
			匹配除换行符外的任意字符</td>
			</tr>
			<tr>
			<td valign="top">
			<b>\d</b></td>
			<td valign="top">
			匹配数字，等价[0-9]</td>
			</tr>
			<tr>
			<td valign="top">
			<b>\D</b></td>
			<td valign="top">
			匹配非数字，同[^0-9]相同</td>
			</tr>
			<tr>
			<td valign="top">
			<b>\w</b></td>
			<td valign="top">
			匹配字母和数字及_，等价[0-9a-zA-Z_]</td>
			</tr>
			<tr>
			<td valign="top">
			\W</td>
			<td valign="top">
			匹配非字母和数字及_</td>
			</tr>
			<tr>
			<td valign="top">
			<b>\s</b></td>
			<td valign="top">
			匹配空白字符、空格、制表符和换行符</td>
			</tr>
			<tr>
			<td valign="top">
			\S</td>
			<td valign="top">
			匹配非空白字符</td>
			</tr>
			<tr>
			<td valign="top">
			\n</td>
			<td valign="top">
			匹配换行符</td>
			</tr>
			<tr>
			<td valign="top">
			\r</td>
			<td valign="top">
			匹配回车字符</td>
			</tr>
			<tr>
			<td valign="top">
			\t</td>
			<td valign="top">
			匹配制表符</td>
			</tr>
			<tr>
			<td valign="top">\v</td>
			<td valign="top">
			查找垂直制表符。</td>
			</tr>
			<tr>
			<td valign="top">
			\f</td>
			<td valign="top">
			匹配换页字符</td>
			</tr>
			<tr>
			<td valign="top">
			\0</td>
			<td valign="top">
			匹配 null 字符</td>
			</tr>
			<tr>
			<td valign="top">\xxx</td>
			<td valign="top">
			查找以八进制数 xxx 规定的字符。</td>
			</tr>
			<tr>
			<td valign="top">\xdd</td>
			<td valign="top">
			查找以十六进制数 dd 规定的字符。</td>
			</tr>
			<tr>
			<td valign="top">\uxxxx</td>
			<td valign="top">
			查找以十六进制数 xxxx 规定的 Unicode 字符。</td>
			</tr>
			</tbody>
			</table>
			 
			
			<b>字符类：锚字符</b>
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">
			元字符/元符号</td>
			<td valign="top">
			匹配情况</td>
			</tr>
			<tr>
			<td valign="top">
			<b>^</b></td>
			<td valign="top">
			行首匹配<b>（不在方括号内）</b></td>
			</tr>
			<tr>
			<td valign="top">
			<b>$</b></td>
			<td valign="top">
			行尾匹配</td>
			</tr>
			<tr>
			<td valign="top">
			\A</td>
			<td valign="top">
			只有匹配字符串开始处</td>
			</tr>
			<tr>
			<td valign="top">
			\b</td>
			<td valign="top">
			匹配空格字符，单词边界，词在[]内时无效</td>
			</tr>
			<tr>
			<td valign="top">
			\B</td>
			<td valign="top">
			匹配非单词边界</td>
			</tr>
			<tr>
			<td valign="top">
			\G</td>
			<td valign="top">
			匹配当前搜索的开始位置</td>
			</tr>
			<tr>
			<td valign="top">
			\Z</td>
			<td valign="top">
			匹配字符串结束处或行尾</td>
			</tr>
			<tr>
			<td valign="top">
			\z </td>
			<td valign="top">
			只匹配字符串结束处</td>
			</tr>
			</tbody>
			</table>
			 
			
			<b>字符类：量词</b>
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">
			元字符/元符号</td>
			<td valign="top">
			匹配情况</td>
			</tr>
			<tr>
			<td valign="top">
			x<b>?</b></td>
			<td valign="top">
			匹配 0 个或 1 个 x   <b>(0或1)</b></td>
			</tr>
			<tr>
			<td valign="top">
			x<b>+</b></td>
			<td valign="top">
			匹配至少一个 x <b>(&gt;=1)</b></td>
			</tr>
			<tr>
			<td valign="top">x<b>*</b></td>
			<td valign="top">
			匹配 0 个或任意多个 x <b>(&gt;=0)</b></td>
			</tr>
			<tr>
			<td valign="top">x<b>{N}</b></td>
			<td valign="top">
			匹配包含 n 个 x 的序列的字符串。<b>(N个)</b></td>
			</tr>
			<tr>
			<td valign="top">x<b>{N,M}</b></td>
			<td valign="top">
			匹配包含 n~ m个x 的序列的字符串。<b>（N~M个）</b></td>
			</tr>
			<tr>
			<td valign="top">x{N,}  x{,M}</td>
			<td valign="top">
			匹配包含至少n 个x 的序列的字符串。<b>（N个以上）(M个以下)</b></td>
			</tr>
			</tbody>
			</table>
			 
			
			<b>表达式：[]</b>方括号用于查找某个范围内的字符
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">[abc]</td>
			<td valign="top">
			查找方括号之间的任何字符。</td>
			</tr>
			<tr>
			<td valign="top">[^abc]</td>
			<td valign="top">
			查找任何不在方括号之间的字符</td>
			</tr>
			<tr>
			<td valign="top">[0-9][a-z][A-Z][A-z]</td>
			<td valign="top">数字/小写字母/大写字母/全部字母</td>
			</tr>
			</tbody>
			</table>
			 
			
			<b>分组：()</b>  <strong>|</strong>
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top"> /(google){4,8}/</td>
			<td valign="top"> </td>
			</tr>
			<tr>
			<td valign="top">\1 或$1
			</td>
			<td valign="top">
			匹配第一个分组中的内容</td>
			</tr>
			<tr>
			<td valign="top">
			\2 或$2</td>
			<td valign="top">
			匹配第二个分组中的内容</td>
			</tr>
			<tr>
			<td valign="top">
			\3 或$3 </td>
			<td valign="top">
			匹配第三个分组中的内容</td>
			</tr>
			<tr>
			<td valign="top">RegExp.$1</td>
			<td valign="top">得到第一个分组里的字符串内容 （在此之前必须要运行一次）</td>
			</tr>
			<tr>
			<td valign="top">
			(red<b>|</b>blue<b>|</b>green)</td>
			<td valign="top">
			查找任何指定的选项。<b>|需要放在分组中</b></td>
			</tr>
			</tbody>
			</table>
			 
			
			<b>replacement</b> 中的 $ 字符具有特定的含义。如下表所示，它说明从模式匹配得到的字符串将用于替换。
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">
			$1、$2、...、$99</td>
			<td valign="top">
			与 regexp 中的第 1 到第 99 个子表达式相匹配的文本。</td>
			</tr>
			<tr>
			<td valign="top">
			$&amp;</td>
			<td valign="top">
			与 regexp 相匹配的子串。</td>
			</tr>
			<tr>
			<td valign="top">
			$`</td>
			<td valign="top">
			位于匹配子串左侧的文本。</td>
			</tr>
			<tr>
			<td valign="top">
			$'</td>
			<td valign="top">
			位于匹配子串右侧的文本。</td>
			</tr>
			<tr>
			<td valign="top">
			$$</td>
			<td valign="top">
			直接量符号。</td>
			</tr>
			</tbody>
			</table>
			
			<b>贪婪与惰性</b>
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">
			贪 婪</td>
			<td valign="top">
			 惰 性</td>
			</tr>
			<tr>
			<td valign="top">
			+</td>
			<td valign="top">
			+?</td>
			</tr>
			<tr>
			<td valign="top">
			?</td>
			<td valign="top">
			??</td>
			</tr>
			<tr>
			<td valign="top">
			*</td>
			<td valign="top">
			*?</td>
			</tr>
			<tr>
			<td valign="top">
			{n}</td>
			<td valign="top">
			{n}?</td>
			</tr>
			<tr>
			<td valign="top">
			{n,}</td>
			<td valign="top">
			{n,}?</td>
			</tr>
			<tr>
			<td valign="top">
			{n,m}</td>
			<td valign="top">
			{n,m}?</td>
			</tr>
			</tbody>
			</table>
			 
			<b>分组捕获</b>
			
			<table width="100%" border="1" cellspacing="0" cellpadding="2">
			<tbody>
			<tr>
			<td valign="top">
			?: </td>
			<td valign="top">
			非捕获分组前 (a)(?:b)</td>
			</tr>
			<tr>
			<td valign="top">?=</td>
			<td valign="top">前瞻捕获 (a)(?=b) 返回的是a不是ab，紧跟b的a</td>
			</tr>
			<tr>
			<td valign="top">
			?!</td>
			<td valign="top">
			(a)(?!b)匹配任何其后没有紧接指定字符串 b 的字符串，不紧跟b的a</td>
			</tr>
			</tbody>
			</table>
		</div>	 
			
		<div style="float:left;width:380px;margin-left:20px;border-radius:4px;display:none">
		  	<h3>常用正则表达式<span>-</span></h3>
		  	<div>
		  		<h4></h4>
		  		<ul>
		  			<li><a href=""></a></li>
		  			<li><a href=""></a></li>
		  		</ul>
		  	</div>
		</div>
	</div>