<div id="linux" class="c-tab">
	{{import 'module/linux/linux0'}}
	{{import 'module/linux/linux1'}}
	{{!import 'module/linux/linux2'}}
	{{!import 'module/linux/linux3'}}
	{{!import 'module/linux/linux4'}}
	{{!import 'module/linux/linux5'}}
	{{import 'module/linux/linux6'}}
</div>