<div class="u-col">
    <div class="u-block">
        <h3>I/O<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>+</span>] 标准输出/错误</h4>
            <ul style="display:none;">
                <li>
                    <a href="">&gt;</a>
                    <span>
                        重定向标准输出
                    </span>
                </li>
                <li>
                    <a href="">&gt;&gt;</a>
                    <span>
                        追加，而不是重写
                    </span>
                </li>
                <li>
                    <a href="">2&gt;</a>
                    <span>
                        标准错误输出 <br>
                        0标准输入；1标准输出；2标准错误
                    </span>
                </li>
                <li>
                    <a href="">&amp;&gt;</a>
                    <span>
                        重定向标准输出和错误<br>
                        ls -l /bin/usr &> ls-output.txt <br>
                        旧版合并 ls -l /bin/usr > ls-output.txt 2>&1
                    </span>
                </li>
            </ul>
            <h4>[<span>+</span>] 标准输入</h4>
            <ul style="display:none;">
                <li>
                    <a href="">cat</a> file
                    <span>
                        读取一个或多个文件，然后复制它们到标准输出
                    </span>
                </li>
                <li>
                    <a href="">cat</a> > file
                    <span>
                        将标准输入重定向到文件 <br>
                        最后输入 Ctrl-d
                    </span>
                </li>
                <li>
                    <a href="">cat</a> < file
                    <span>
                        将文件内容打印到标准输入
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 过滤</h4>
            <ul>
                <li>
                    <a href="">|</a>
                    <span>
                        使用管道操作符”|”（竖杠），一个命令的标准输出可以通过管道送至另一个命令的标准输入
                    </span>
                </li>
                <li>
                    <a href="">sort</a>
                    <span>
                        有序排列
                    </span>
                </li>
                <li>
                    <a href="">uniq</a>
                    <span>
                        报道或忽略重复行
                    </span>
                </li>
                <li>
                    <a href="">wc</a> [file]
                    <span>
                        打印行数、字数和字节数
                    </span>
                </li>
                <li>
                    <a href="">grep</a> pattern [file..]
                    <span>
                        打印匹配行 <br>
                        -i:忽略大小写 <br>
                        -v:只打印不匹配的行
                    </span>
                </li>
                <li>
                    <a href="">head</a> -n x [file]
                    <span>
                        打印文件的前十行
                    </span>
                </li>
                <li>
                    <a href="">tail</a> -n x [file]
                    <span>
                        打印文件的尾十行 <br>
                        tail -f /var/log/messages <br>
                        使用”-f”选项，tail 命令继续监测这个文件，当新的内容添加到文件后，它们会立即 出现在屏幕上。
                    </span>
                </li>
                <li>
                    <a href="">tee</a> file
                    <span>
                        从 Stdin 读取数据，并同时输出到 Stdout 和文件 <br>
                        ls /usr/bin | tee ls.txt | grep zip
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>