<div class="u-col">
    <div class="u-block">
        <h3>安装相关<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 下载</h4>
            <ul>
                <li>
                    <a href="">wget</a> $file_url
                    <span>
                        下载 /usr/local/src/
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 解压</h4>
            <ul>
                <li>
                    <a href="">tar zxvf</a> $file
                    <span>
                        解压tar.gz文件
                    </span>
                </li>
                <li>
                    <a href="">tar xvJf</a> $file
                    <span>
                        解压tar.xz二进制压缩包
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>