<div class="u-col">
    <div class="u-block">
        <h3>参考资料<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Doc</h4>
            <ul>
            	<li><a href="https://nodejs.org/dist/latest-v6.x/docs/api/">官方文档</a><span></span></li>
            	<li><a href="http://nodejs.cn/api/">中文文档</a><span></span></li>
            </ul>
        </div>
        <div class="u-list">
            <h4>[<span>-</span>] Help</h4>
            <ul>
                <li><a href="">SublimeText3环境配置</a><span>
                    1.安装<a href="https://github.com/tanepiper/SublimeText-Nodejs">插件Nodejs</a> <br>
                    2.首选项-浏览插件目录-nodejs <br>
                    3.修改Nodejs.sublime-build中的"encoding": "utf8" <br>
                    4.修改Nodejs.sublime-settings中的"node_command": "C:\\Program Files\\nodejs\\node.exe" <br>
                    5.修改Nodejs.sublime-settings中的"npm_command": "C:\\Program Files\\nodejs\\npm.cmd"
                </span></li>
                <li><a href="https://code.visualstudio.com/">vscode</a><span></span></li>
            </ul>
        </div>
    </div>
</div>