<div class="u-col">
    <div class="u-block">
        <h3>基础<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 优先级</h4>
            <ul>
            	<li>node<a href="">--use_strict</a><span></span></li>
            </ul>
        </div>
    </div>
</div>