<div class="u-col">
    <div class="u-block">
        <h3>基本语法<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 命令行参数</h4>
            <ul>
            	<li>node<a href="">--use_strict</a><span></span></li>
            </ul>
            <h4>[<span>-</span>] 模块</h4>
            <ul>
            	<li><a href="">module.exports = loc_var</a><span>
            		在模块中对外输出变量 <br>
            		<a href="https://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000/001434502419592fd80bbb0613a42118ccab9435af408fd000">实现原理</a>
            	</span></li>
            	<li><a href="">var foo = require('quo_mod')</a><span>引入其他模块输出的对象</span></li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>全局对象<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] global</h4>
            <ul>
            	<li><a href="">global</a><span>
            		全局对象
            	</span></li>
            	<li><a href="">process</a><span>
            		当前Node.js进程
            	</span></li>
            	<li><a href="">module</a><span></span></li>
            	<li><a href="">exports</a><span></span></li>
                <li><a href="">require()</a><span></span></li>
                <li><a href="">console</a><span></span></li>
                <li><a href="">__dirname</a><span></span></li>
                <li><a href="">__filename</a><span></span></li>
                <li><a href="">Buffer</a><span></span></li>
                <li><a href="">setImmediate</a><em>(callback[, ...args])</em><span></span></li>
                <li><a href="">clearImmediate</a><em>(immediateObject)</em><span></span></li>
                <li><a href="">setInterval</a><em>(callback, delay[, ...args])</em><span></span></li>
                <li><a href="">clearInterval</a><em>(intervalObject)</em><span></span></li>
                <li><a href="">setTimeout</a><em>(callback, delay[, ...args])</em><span></span></li>
                <li><a href="">clearTimeout</a><em>(timeoutObject)</em><span></span></li>
            </ul>
        </div>
    </div>
</div>