<div class="u-col">
    <div class="u-block">
        <h3>HTTP<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] http</h4>
            <ul>
            	<li>
            		http.<a href="">createServer</a><em>([fn(request,response)])</em>
            		<span>
            			返回一个新建的 http.Server 实例
            		</span>
            	</li>
            </ul>
            <h4>[<span>-</span>] http.Server类</h4>
            <ul>
            	<li>
            		server.<a href="">listen</a>(80)
            		<span>
            			指定HTTP服务器监听的端口
            		</span>
            	</li>
            </ul>
        </div>
    </div>
</div>