<!-- NPM、其他 -->
<div class="u-col">
    <div class="u-block">
        <h3>NPM<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 包管理</h4>
            <ul>
                <li>
                    npm <a href="">init</a> [--yes]
                    <span>
                        初始化
                    </span>
                </li>
                <li>
                    <a href="">package.json</a>
                    <span>
                        name - 包名。<br>
                        version - 包的版本号。<hr>

                        description - 包的描述。<br>
                        keywords - 关键词。 <br>
                        homepage - 包的官网 url 。<br>
                        author - 包的作者姓名。<br>
                        contributors - 包的其他贡献者姓名。<br>
                        license - 共享协议。<hr>

                        repository - 包代码存放的地方的类型，可以是 git 或 svn，git 可在 Github 上。<br>
                        main - 默认入口文件。 <br>
                        scripts - 可执行的脚本，通过npm run $cmd 例：{"build":"babel src -d lib"}<hr>

                        dependencies - 依赖包 <br>
                        devDependencies - 依赖包，仅用于开发和测试 

                    </span>
                </li>
                <li>
                    npm <a href="">install</a> [$package]
                    <span>
                        本地安装指定的模块 <br>
                        如没有指定包名，则安装package.json中devDependencies中的所有依赖包
                    </span>
                </li>
                <li>
                    npm <a href="">install --save-dev</a><em> $package</em>
                    <span>
                        本地安装指定的模块，并添加到package.json的devDependencies中
                    </span>
                </li>
                <li>
                    npm <a href="">install --save</a><em> $package</em>
                    <span>
                        本地安装指定的模块，并添加到package.json的dependencies中
                    </span>
                </li>
                <li>
                    npm <a href="">install --g</a><em> $package</em>
                    <span>
                        全局安装指定模块 <br>
                        当目标环境没有时，不会自动依赖安装
                    </span>
                </li>
                <li>
                    npm <a href="">uninstall</a>
                    <span>
                        移除包，同安装包各项参数
                    </span>
                </li>
                <li>
                    npm <a href="">update</a> [$package]
                    <span>
                        更新包
                    </span>
                </li>
                <li>
                    npm <a href="">outdated</a>
                    <span>
                        查看哪些包已经过期
                    </span>
                </li>
            </ul>
            <h4>[<span>+</span>] 发布包</h4>
            <ul style="display:none">
                <li>
                    npm <a href="">adduser</a>
                    <span>
                        注册npm资源库
                    </span>
                </li>
                <li>
                    npm <a href="">login</a>
                    <span>
                        登录npm资源库
                    </span>
                </li>
                <li>
                    npm <a href="">publish</a>
                    <span>
                        发布npm模块
                    </span>
                </li>
                <li>
                    npm <a href="">unpublish</a> $pak@ver
                    <span>
                        撤销发布自己发布过的某个版本代码
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>参考资料<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Doc</h4>
            <ul>
            	<li><a href="https://nodejs.org/dist/latest-v8.x/docs/api/timers.html">官方文档</a><span></span></li>
            	<li><a href="http://nodejs.cn/api/">中文文档</a><span></span></li>
            </ul>
        </div>
    </div>
</div>