<div class="u-col">
    <div class="u-block">
        <h3>包<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] web框架</h4>
            <ul>
                <li>
                    <a href="">flask</a>
                    <span>pip install flask</span>
                </li>
            </ul>
        </div>
    </div>
</div>