<div class="u-col">
    <div class="u-block">
        <h3>函数<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
                <li>
                    <a href="">range</a>(m,n,step)
                    <span>每次只返回一个数，step代表递增的加数默认为1</span>
                </li>
            </ul>
        </div>
    </div>
</div>