<div class="u-col">
    <div class="u-block">
        <h3>函数<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
                <li>
                    time<a href="">.sleep</a>(n)
                    <span>
                        推迟调用线程的运行，secs指秒数。
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>