<div class="u-col">
    <div class="u-block">
        <h3>数据<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 类型检测</h4>
            <ul>
                <li>
                    <a href="">type</a>(var)
                    <span>
                        查询变量所指的对象类型
                    </span>
                </li>
                <li>
                    <a href="">isinstance</a>(var,$type)
                    <span>
                        判断变量所指的对象类型 <br>
                        isinstance(a, int) <br>
                        type()不会认为子类是一种父类类型。isinstance()会认为子类是一种父类类型。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 数字</h4>
            <ul>
                <li>
            		<a href="">int</a>(n,[base])
            		<span>
                        将n转换为一个整数 <br>
                        base进制数，默认十进制
                    </span>
            	</li>
            	<li>
            		<a href="">float</a>(n)
            		<span>将n转换到一个浮点数</span>
            	</li>
            	<li>
            		<a href="">complex</a>(real,[imag])
            		<span>
            			创建一个复数 <br>
						complex(n) 将n转换到一个复数，实数部分为 n，虚数部分为 0。<br>
						complex(x, y) 将 x 和 y 转换到一个复数，实数部分为 x，虚数部分为 yj。
            		</span>
            	</li>
                <li>
                    <a href="">hex</a>(n)
                    <span>
                        将一个整数转换为一个十六进制字符串
                    </span>
                </li>
                <li>
                    <a href="">oct</a>(n)
                    <span>
                        将一个整数转换为一个八进制字符串
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 编码</h4>
            <ul>
                <li>
                    <a href="">chr</a>(n)
                    <span>
                        返回当前整数对应的ascii字符
                    </span>
                </li>
                <li>
                    <a href="">ord</a>(val)
                    <span>
                        返回对应的 ASCII 数值，或者 Unicode 数值
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 类型转换</h4>
            <ul>
            	<li>
            		<a href="">str</a>(val)
            		<span>将对象转换为字符串</span>
            	</li>
            	<li>
            		<a href="">repr</a>(val)
            		<span>将对象转化为供解释器读取的形式</span>
            	</li>
            	<li>
            		<a href="">eval</a>(str)
            		<span>
                        执行一个字符串表达式，并返回表达式的值<br>
                        expression -- 表达式。 <br>
                        globals -- 变量作用域，全局命名空间，如果被提供，则必须是一个字典对象。<br>
                        locals -- 变量作用域，局部命名空间，如果被提供，可以是任何映射对象。
                    </span>
            	</li>
                <li>
            		<a href="">bool</a>(val)
            		<span>转换到布尔值</span>
            	</li>
            	<li>
            		<a href="">tuple</a>(s)
            		<span>将列表转换为元组</span>
            	</li>
            	<li>
            		<a href="">list</a>(s)
            		<span>将序列 s 转换为一个列表</span>
            	</li>
            	<li>
            		<a href="">set</a>(s)
            		<span>转换为可变集合</span>
            	</li>
            	<li>
            		<a href="">frozenset</a>(s)
            		<span>转换为不可变集合</span>
            	</li>
            	<li>
            		<a href="">dict</a>(d)
            		<span>创建一个字典。d 必须是一个序列 (key,value)元组。</span>
            	</li>
            </ul>
            <h4>[<span>-</span>] 数据属性</h4>
            <ul>
            	<li>
            		data<a href="">.clear()</a>
            		<span>
            			清空
            		</span>
            	</li>
            	<li>
            		data<a href="">.keys()</a>
            		<span>
            			键组
            		</span>
            	</li>
            	<li>
            		data<a href="">.values()</a>
            		<span>
            			值组
            		</span>
            	</li>
                <li>
                    dict<a href="">.items()</a>
                    <span>
                        键值对
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 对象操作</h4>
			<ul>
				<li>
                    <a href="">del</a>var1,var2
                    <span>
                        通过使用del语句删除单个或多个对象
                    </span>
                </li>
			</ul>

            
        </div>
    </div>
</div>