<div class="u-col">
    <div class="u-block">
        <h3>数字<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 数据属性</h4>
            <ul>
                <li>
                    data<a href="">.clear()</a>
                    <span>
                        清空
                    </span>
                </li>
                <li>
                    data<a href="">.keys()</a>
                    <span>
                        键组
                    </span>
                </li>
                <li>
                    data<a href="">.values()</a>
                    <span>
                        值组
                    </span>
                </li>
                <li>
                    dict<a href="">.items()</a>
                    <span>
                        键值对
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 对象操作</h4>
            <ul>
                <li>
                    <a href="">del</a>var1,var2
                    <span>
                        通过使用del语句删除单个或多个对象
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>