<div class="u-col">
    <div class="u-block">
        <h3>选择器<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 安装使用</h4>
            <ul>
                <li>
                    <a href="">交互模式与文件运行区别</a>
                    <span>1.直接输入python进入交互模式，相当于启动了Python解释器，但是等待你一行一行地输入源代码，每输入一行就执行一行。<br>
                    2.直接运行oython xxx.py文件相当于启动了Python解释器，然后一次性把.py文件的源代码给执行了，你是没有机会输入源代码的。</span>
                </li>
            </ul>
            <h4>[<span>-</span>] I/O</h4>
            <ul>
                <li>
                    <a href="">print()</a>
                    <span>
                        输出<br>
                        print 'test' <br>
                        print ('test') <br>
                        print 'a','b','c' 每个逗号生成一个空格<br>
                        print ('a'),('b'),('c') 每个逗号生成一个空格<br>
                        print "Let's go" <br>
                        print 'Let\'s go'
                    </span>
                </li>
                <li>
                    <a href="">input()/raw_input()</a>
                    <span>
                        输入 <br>
                        input('输入提示信息：')
                    </span>
                </li>
                <li>
                    <a href="">exit()</a>
                    <span>
                        退出
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>