<div class="u-col">
    <div class="u-block">
        <h3>字符串<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
                <li>
                    <a href="">.format()</a>
                    <span>
                        1/字符串中使用{}来替代需要格式化的内容,索引号可缺省，亦可使用关键词指代。<br>
                        2/{}中使用:.5f来指定浮点数位数。<br>
                        3/{}中使用:+^12来指定符号填充至固定字符串长度。+符号,12长度。
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>