<div class="u-col">
    <div class="u-block">
        <h3>数字<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 随机数函数</h4>
            <ul>
                <li>
                    random.<a href="">choice</a>(seq)
                    <span>
                        从序列的元素中随机挑选一个元素 <br>
                        seq -- 可以是一个列表，元组或字符串。<br>
                        比如random.choice(range(10))，从0到9中随机挑选一个整数。
                    </span>
                </li>
                <li>
                    random.<a href="">shuffle</a>(lst)
                    <span>
                        将序列的所有元素随机排序 <br>
                        lst -- 可以是一个序列或者元组。
                    </span>
                </li>
            </ul>
            
            
        </div>
    </div>
</div>