<div class="u-col">
    <div class="u-block">
        <h3>文件<span>-</span></h3>
        <div class="u-list">
            <ul>
                <li>
                    <a href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/MIME_types">MIME</a>
                    <span>
                        MIME类型
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 读</h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
            <h4>[<span>-</span>] 写</h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
            <h4>[<span>-</span>] 文件/目录创建</h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
            <h4>[<span>-</span>] 文件/目录删除</h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
            <h4>[<span>-</span>] 文件/目录修改</h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
            <h4>[<span>-</span>] 文件/目录权限</h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>I/O<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 终端</h4>
            <ul>
                <li>
                    <a href="">print</a>(val,[end=str])
                    <span>
                        输出<br>
                        print 默认输出是换行的，如果要实现不换行需要在变量末尾加上,end=""<br>
                        print ('test') <br>
                        print ('a','b','c') 每个逗号生成一个空格<br>
                        print ("Let's go") <br>
                        print ('Let\'s go') <br>
                        print (r"Let's go") <br>
                        python2.x可以无括号。
                    </span>
                </li>
                <li>
                    <a href="">input</a>([tips])
                    <span>
                        输入 <br>
                        input 可以接收一个Python表达式作为输入，并将运算结果返回 <br>
                        input('输入提示信息：') <br>
                        python2.x为raw_input()
                    </span>
                </li>
                <li>
                    <a href="">exit()</a>
                    <span>
                        退出
                    </span>
                </li>
                <li>
                    <a href="">help()</a>
                    <span>
                        help(fn) 查看帮助
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>序列<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
</div>