<div class="u-col">
    <div class="u-block">
        <h3>I/O<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] I/O</h4>
            <ul>
                <li>
                    <a href="">print</a>(val,[end=str])
                    <span>
                        输出<br>
                        print 默认输出是换行的，如果要实现不换行需要在变量末尾加上,end=""<br>
                        print ('test') <br>
                        print ('a','b','c') 每个逗号生成一个空格<br>
                        print ("Let's go") <br>
                        print ('Let\'s go') <br>
                        print (r"Let's go") <br>
                        python2.x可以无括号。
                    </span>
                </li>
                <li>
                    <a href="">input()</a>
                    <span>
                        输入 <br>
                        input('输入提示信息：') <br>
                        python2.x为raw_input()
                    </span>
                </li>
                <li>
                    <a href="">exit()</a>
                    <span>
                        退出
                    </span>
                </li>
                <li>
                    <a href="">help()</a>
                    <span>
                        help(fn) 查看帮助
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>包<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] web框架</h4>
            <ul>
                <li>
                    <a href="">flask</a>
                    <span>pip install flask</span>
                </li>
            </ul>
        </div>
    </div>
</div>