<div id="swift" class="c-tab">
	+ to be continued..
	{{!import 'module/swift/swift0'}}
	{{!import 'module/swift/swift1'}}
	{{!import 'module/swift/swift2'}}
	{{!import 'module/swift/swift3'}}
	{{!import 'module/swift/swift4'}}
	{{!import 'module/swift/swift5'}}
	{{!import 'module/swift/swift6'}}
</div>