<div id="Java" class="c-tab">
	{{import 'module/java/java0'}}
	{{!import 'module/java/java1'}}
	{{!import 'module/java/java2'}}
	{{!import 'module/java/java3'}}
	{{!import 'module/java/java4'}}
	{{!import 'module/java/java5'}}
	{{!import 'module/java/java6'}}
</div>