<!-- DOM,BOM,事件 -->
<div class="u-col">
	<div class="u-block">
		<h3>DOM<span>+</span></h3>
		<div class="u-list" style="display:none;">
			<h4>[<span>-</span>]CSS</h4>
			<ul>
				<li><a href="">.clientWidth</a><span>返回内容的可视宽度（不包括边框，边距或滚动条）<br />
					document.body.clientWidth; 在页面上返回内容的可视宽度（不包括边框，边距或滚动条）<br />
					document.body.clientHeight;  在页面上返回内容的可视高度（不包括边框，边距或滚动条）<br />兼容：clientWidth= document.documentElement.clientWidth|| document.body.clientWidth; 在页面上返回内容的可视宽度（不包括边框，边距或滚动条）</span></li>
				<li><a href="">.clientHeight</a><span>返回内容的可视高度（不包括边框，边距或滚动条）</span></li>
				<li><a href="">.offsetWidth</a><span>返回元素的宽度，包括边框和padding，但不包括margin</span></li>
				<li><a href="">.offsetHeight</a><span>返回元素的高度，包括边框和padding，但不包括margin</span></li>
				<li><a href="">.scrollWidth</a><span>返回元素的整个宽度（包括带滚动条的隐蔽的地方）<br />
					document.body.scrollWidth; 返回元素的整个宽度（包括带滚动条的隐蔽的地方）<br />
					document.body.scrollHeight; 返回整个元素的高度（包括带滚动条的隐蔽的地方）<br />
					兼容：scrollWidth=document.documentElement.scrollWidth|| document.body.scrollWidth; 返回元素的整个宽度（包括带滚动条的隐蔽的地方）
					</span></li>
				<li><a href="">.scrollHeight</a><span>返回整个元素的高度（包括带滚动条的隐蔽的地方）</span></li>
				<li><a href="">.scrollTop</a><span>滚动条滚动距离
					<br />IE低版本document.documentElement.scrollTop
					<br />现代浏览器document.body.scrollTop
					</span></li>
				<li><a href="">.scrollLeft</a><span>返回当前视图中的实际元素的左边缘和左边缘之间的距离</span></li>
				<li><a href="">.offsetParent</a><span>返回元素的偏移容器</span></li>
				<li><a href="">.offsetTop</a><span>返回当前元素的相对垂直偏移</span></li>
				<li><a href="">.offsetLeft</a><span>返回当前元素的相对水平偏移</span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>
			<h4>[<span>-</span>]文档处理</h4>
			<ul>
				<li><a href="">.cookie</a><span></span></li>
				<li><a href="">.lastModified</a><span></span></li>
				<li><a href="">.readyState</a><span></span></li>
				<li><a href="">createElement()</a><span></span></li>
				<li><a href="">createTextNode()</a><span></span></li>
				<li><a href="">createAttribute()</a><span></span></li>
				<li><a href="">normalize()</a><span></span></li>
				<li><a href="">getElementById()</a><span></span></li>
				<li><a href="">getElementsByName()</a><span></span></li>
				<li><a href="">getElementsByTagName()</a><span></span></li>
				<li>document.<a href="">querySelector("#selector")</a><span></span></li>
				<li>document.<a href="">querySelectorAll(".selector")</a><span></span></li>
				<li><a href="">write()</a><span></span></li>
			</ul>
			<h4>[<span>-</span>]DOM方法</h4>
			<ul>
				<li><a href="">getAttribute</a>('attr')<span></span></li>
				<li><a href="">setAttribute</a>('attr',val)<span></span></li>
				<li><a href="">.innerHTML</a><span></span></li>
				<li><a href="">.nodeName</a><span></span></li>
				<li><a href="">.nodeValue</a><span></span></li>
				<li><a href="">.nodeType</a><span></span></li>
				<li><a href="">.attributes</a><span></span></li>
				<li><a href="">.children[n]</a><span></span></li>
				<li><a href="">.childNodes</a><span></span></li>
				<li><a href="">.firstChild</a><span></span></li>
				<li><a href="">.lastChild</a><span></span></li>
				<li><a href="">.parentNode</a><span></span></li>
				<li><a href="">appendChild()</a><span></span></li>
				<li><a href="">createTextNode()</a><span></span></li>
				<li><a href="">insertBefore</a>(key,参照节点)<span></span></li>
				<li><a href="">repalceChild</a>(key,被替换)<span></span></li>
				<li><a href="">cloneNode</a>(true)<span></span></li>
				<li><a href="">removeChild()</a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>
			<h4>[<span>-</span>]Attribute对象</h4>
			<ul>
				<li><a href=""></a><span></span></li>
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>BOM<span>+</span></h3>
		<div class="u-list" style="display:none;">
			<h4>[<span>-</span>]Window</h4>
			<ul>
				<li><a href="">window properties</a><span>
					
						<div>
						<ol>
							<li><span style="font-size: small;">window 对象有一系列的属性，这些属性本身也是对象。</span></li>
							<li><span style="font-size: small;">window 下的属性和方法，可以使用 window.属性、window.方法()或者直接属性、方法()的方式调用。例如：window.alert()和 alert()是一个意思。</span></li>
							<li><span style="font-size: small;">全局变量不能通过delete操作符删除，而直接在window对象上定义的属性可以，但实际上全局定义归属于对window定义</span></li>
							<li><span style="font-size: small;">尝试访问未声明的变量会抛出错误，但是可以通过查询window对象知道某个可能未声明的变量是否存在。</span></li>
						</ol>
						</div>
						<div><span style="font-size: small;"> </span></div>
						<div>
						<ul>
							<li><b><span style="font-size: small;">window 对象的属性</span></b></li>
						</ul>
						</div>
						<div>
						<table width="100%" border="1" cellspacing="0" cellpadding="2">
						<tbody>
						<tr>
						<td valign="top"><span style="font-size: small;">内容</span></td>
						<td valign="top"></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="font-size: small;">document</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">窗口中当前显示的文档对象</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="font-size: small;">location</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">当前窗口的 URL</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="font-size: small;">history</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">保存有窗口最近加载的 URL</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="color: #0000ff; font-size: small;">screen</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">显示屏幕相关信息，如高度、宽度（以像素为单位）</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">Navigator</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">对 Navigator 对象的只读引用 navigator.userAgent</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">offscreenBuffering</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">用于绘制新窗口内容并在完成后复制已存在的内容，控制屏幕更新</span></div></td>
						</tr>
						<tr>
						<td valign="top"><span style="font-size: small;">层级</span></td>
						<td valign="top"></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="font-size: small;">name</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">窗口名</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="font-size: small;">opener</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">打开当前窗口的窗口</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">self / <b>window</b></span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">指示当前窗口 / 指示当前窗口，与 self 等效</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">frames</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">窗口中的框架对象数组</span></div>
						<div><span style="font-size: small;">frames[]    frames.length 存放数组 frames[] 中含有的元素个数    top.frames[n] 页面第几个框架</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">length</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">窗口中的框架数</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">parent</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">指向包含另一个窗口的窗口（由框架使用）</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">top</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">包含特定窗口的最顶层窗口（由框架使用）</span></div></td>
						</tr>
						<tr>
						<td valign="top"><span style="font-size: small;">状态</span></td>
						<td valign="top"></td>
						</tr>
						<tr>
						<td valign="top">
						<div><b><span style="font-size: small;">closed</span></b></div></td>
						<td valign="top">
						<div><span style="font-size: small;">当窗口关闭时为真</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">defaultStatus</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">窗口底部状态栏显示的默认状态消息（IE）</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">status</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">描述由用户交互导致的状态栏的临时消息（IE）</span></div></td>
						</tr>
						</tbody>
						</table>
						<div><span style="font-size: small;"> </span></div>
						</div>
				</span></li>
				<li><a href="">alert/confirm/prompt()</a><span>
					<table width="100%" border="1" cellspacing="0" cellpadding="2">
						<tbody>
						<tr>
						<td valign="top"><span style="font-size: small;">系统对话框</span></td>
						<td valign="top"><span style="font-size: small;"> </span></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;"><b>alert</b>(text)</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">警告</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;"><b>confirm</b>(text)</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">确认/取消  返回布尔值：true,false</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;"><b>prompt</b>(text,defaultInput)</span></div></td>
						<td valign="top">
						<div><span style="font-size: small;">输入框 返回值：确认&gt;内容，取消&gt;null</span></div></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">print()</span></div></td>
						<td valign="top"><span style="font-size: small;">打印</span></td>
						</tr>
						<tr>
						<td valign="top">
						<div><span style="font-size: small;">find()</span></div></td>
						<td valign="top"><span style="font-size: small;">查找</span></td>
						</tr>
						</tbody>
						</table>
				</span></li>
				<li><a href="">open</a>(url,name,[options])<span>
					window.open(url,name,[options]) 打开一个新窗口并返回新 window 对象，将open()赋值给一个变量，对变量可以执行对子窗口的设置 
					<br>■open方法  window.open("URL", "位置", "属性","历史记录");
					<br>使用 window.open()方法可以导航到一个特定的 URL， 也可以打开一个新的浏览器窗口 。它可以接受四个参数：
					<br>1.URL   http://www.baidu.com
					<br>2.窗口名称或窗口目标  _target   /   _parent  /  somename
					<br>3.一个特性字符串，见下表
					<br>4.一个表示新页面是否取代浏览器记录中当前加载页面的布尔值：true替换历史记录，false创建新历史记录
				</span></li>
				
			</ul>
			<h4>[<span>-</span>]定时器</h4>
			<ul>
				<li><a href="">setTimeout</a>(fn,time)<span>设置延迟多久执行，一次性行为</span></li>
				<li><a href="">clearTimeout(x)</a></li>
				<li><a href="">setInterval</a>(fn,time)<span>设置间隔多久执行</span></li>
				<li><a href="">clearInterval(x)</a></li>
			</ul>
			<h4>[<span>-</span>]其他</h4>
			<ul>
				<li><a href="">location</a><span>
					location.href 地址
					<br />location.reload() 重新加载
				</span></li>
				<li><a href="">encodeURIComponent</a>(url)<span></span></li>
				<li><a href="">decodeURIComponent</a>(url)<span></span></li>
				<li><a href="">history.go(n)</a><span></span></li>
			</ul>
		</div>
	</div>
</div>