<!-- 代码规范技巧，参考资料（工具、第三方库） -->
<div class="u-col">
	<div class="u-block">
		<h3>规范技巧<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>]错误处理</h4>
			<ul>
				<li><a href="">new Error</a>(tips)<span>还有从Error派生的TypeError、ReferenceError等错误对象 <hr>
				如果在一个函数内部发生了错误，它自身没有捕获，错误就会被抛到外层调用函数，如果外层函数也没有捕获，该错误会一直沿着函数调用链向上抛出，直到被JavaScript引擎捕获，代码终止执行。所以，我们不必在每一个函数内部捕获错误，只需要在合适的地方来个统一捕获，一网打尽。<hr>
				涉及到异步代码，无法在调用时捕获，原因就是在捕获的当时，回调函数并未执行。<br>
				类似的，当我们处理一个事件时，在绑定事件的代码处，无法捕获事件处理函数的错误。
				</span></li>
				<li><a href="">try{...}cath(e){...}</a><span>
<pre><code data-language="javascript">
	try {
	    //可能出错的语句
	} catch (e) {
	    //捕获e错误对象
	} finally {
	    //总会执行
	}
</code></pre>
				</span></li>
				<li><a href="">try{..throw new Error('')..}</a><span></span></li>
				<li><em>source map</em><a href=""></a><span>
				Source map就是一个信息文件，里面储存着位置信息。也就是说，转换后的代码的每一个位置，所对应的转换前的位置。有了它，出错的时候，除错工具将直接显示原始代码，而不是转换后的代码。<a href="http://www.ruanyifeng.com/blog/2013/01/javascript_source_map.html">参考资料</a>
				</span></li>
			</ul>
			<h4>[<span>+</span>]笔记</h4>
			<ul style="display:none;">
				<li><a href="">条件判断</a><span>
					取属性的时候可多加一层判断，以防属性值不存在报错。
					<pre><code data-language="javascript">
						if (banner && banner.length)
					</code></pre>
				</span></li>
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>开源项目<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>]框架</h4>
			<ul>
				<li><a href=""></a></li>
			</ul>
			<h4>[<span>-</span>]类型</h4>
			<ul>
				
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>参考资料<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>]文档</h4>
			<ul>
				<li><a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Index">ECMAScript参考手册</a></li>
				<li><a href="http://www.runoob.com/jsref/jsref-tutorial.html">Javascript参考手册</a></li>
				<li><a href="http://devdocs.io/">全栈API参考手册</a></li>
			</ul>
			<h4>[<span>-</span>]动态</h4>
			<ul>
				<li><a href="https://www.awesomes.cn/">前端库大全</a></li>
				<li><a href="https://juejin.im/welcome/frontend">掘金社区</a></li>
				<li><a href="https://www.zhihu.com/topic/19550901/hot">知乎话题</a></li>
			</ul>
			<h4>[<span>-</span>]编译</h4>
			<ul>
				<li><a href="http://kangax.github.io/compat-table/es6/">ES6支持程度</a></li>
				<li><a href="http://coffee-script.org">CoffeeScript</a></li>
			</ul>
			<h4>[<span>-</span>]工具</h4>
			<ul>
				<li><a href="https://codepen.io/pen">CodePen</a></li>
				<li><a href="http://www.bejson.com/">Bejson</a></li>
			</ul>
		</div>
	</div>
</div>