<!-- 代码规范技巧，参考资料（工具、第三方库） -->
<div class="u-col">
	<div class="u-block">
		<h3>开源项目<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>]框架</h4>
			<ul>
				<li><a href=""></a></li>
			</ul>
			<h4>[<span>-</span>]类型</h4>
			<ul>
				
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>规范技巧<span>+</span></h3>
		<div class="u-list" style="display:none;">
			<h4>[<span>-</span>]笔记</h4>
			<ul>
				<li><a href="">条件判断</a><span>
					取属性的时候可多加一层判断，以防属性值不存在报错。
					<pre><code data-language="javascript">
						if (banner && banner.length)
					</code></pre>
				</span></li>
			</ul>
		</div>
	</div>
	<div class="u-block">
		<h3>参考资料<span>-</span></h3>
		<div class="u-list">
			<h4>[<span>-</span>]文档</h4>
			<ul>
				<li><a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Index">ECMAScript参考手册</a></li>
				<li><a href="http://www.runoob.com/jsref/jsref-tutorial.html">Javascript参考手册</a></li>
				<li><a href="http://devdocs.io/">全栈API参考手册</a></li>
			</ul>
			<h4>[<span>-</span>]动态</h4>
			<ul>
				<li><a href="https://juejin.im/welcome/frontend">掘金</a></li>
				<li><a href="https://www.awesomes.cn/">前端库大全</a></li>
			</ul>
			<h4>[<span>-</span>]工具</h4>
			<ul>
				<li><a href="https://codepen.io/pen">CodePen</a></li>
				<li><a href="http://www.bejson.com/">Bejson</a></li>
			</ul>
		</div>
	</div>
</div>