<div id="main" class="c-main">

	{{import 'module/bookmark/bookmark'}}

	{{import 'module/css/css'}}

	{{!import 'module/jquery'}}

	{{!import 'module/javascript'}}

	{{!import 'module/html'}}

	{{!import 'module/regexp'}}

</div>