<div class="c-header clearfix">
  <a class="c-logo" href="http://iruxu.com/notebook">Notebook</a>
  <div class="c-nav">
    <ul class="clearfix">
      <li class="on"><a href="http://iruxu.com/notebook/">Notebook</a></li>
      <li><a href="https://github.com/iRuxu" target="_blank">Github</a></li>
      <!-- <li><a href="https://zhuanlan.zhihu.com/csslab" target="_blank">Blog</a></li>
      <li><a href="http://candy-lab.com/" target="_blank">CandyLab</a></li> -->
    </ul>
  </div>
  <a class="c-fork" href="https://github.com/iRuxu/notebook" target="_blank">+ Fork</a>
</div>