<div class="header">
	<a href="http://iruxu.com/notebook" target="_self"><h1 title="iRuxu's notebook">NOTEBOOK</h1></a>
	<div id="nav">
		<ul>
			<li class="ctcat"><a href="javascript:void(0)">CSS</a></li>
			<li><a href="javascript:void(0)">jQuery</a></li>
			<li><a href="javascript:void(0)">Javascript</a></li>
			<li><a href="javascript:void(0)">HTML</a></li>
			<li><a href="javascript:void(0)">RegEXP</a></li>
			<li><a href="http://iruxu.com/to-be-css/" target="_self">ToolBox</a></li>
			<li><a href="http://www.cnblogs.com/iruxu/">Blog</a></li>
		</ul>
	</div>
	<div id="showmenu"></div>
	<p>
		<a href="http://iruxu.com">[ 最新 ]</a> 
		<span style="background:#fff;border-radius:8px;padding:0 10px">
			<a href="http://weibo.com/yuanzi0512"><img src="image/sina.png" width="12px" alt="iruxu的微博" title="Follow me on 微博"></a> 
			<a href="mailto:17229398@qq.com"><img src="image/email.png" width="12px" alt="iruxu的电子邮件" title="email:17229398@qq.com"></a>
		</span>
		<br><a href="http://iruxu.com/notebook">http://iruxu.com/notebook</a>
	</p>	
</div>