<div class="c-header clearfix">
  <a class="c-logo" href="http://www.cnblogs.com/iruxu/">Notebook</a>
  <div class="c-nav">
    <ul class="clearfix">
      <li><a href="http://iruxu.com">Home</a></li>
      <li class="on"><a href="http://iruxu.com/notebook/">Notebook</a></li>
      <li><a href="http://www.cnblogs.com/iruxu/">Blog</a></li>
      <li><a href="https://github.com/iRuxu" target="_blank">Github</a></li>
    </ul>
  </div>
  <div class="c-contact">
    <ul class="clearfix">
      <li><a href="http://weibo.com/yuanzi0512" target="_blank"><i class="u-weibo"></i><span>Weibo</span></a></li>
      <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=5pSe0KaXl8iFiYs" target="_blank"><i class="u-email"></i><span>Email</span></a></li>
    </ul>
  </div>
</div>