<div class="c-sidebar">
	<div class="c-sidebar-list">
		<ul>
			<li><a href="">CSS</a></li>
			<li><a href="">Git</a></li>
			<li><a href="">Linux</a></li>
			<li><a href="">Python</a></li>
			<li><a href="">jQuery</a></li>
			<!-- <li><a href="">Bookmark</a></li> -->
		</ul>
	</div>
	<i class="u-folder" id="c-sidebar-folder"></i>
	<span class="u-copyright">&copy;2016 iRuxu.com</span>
</div>