<div class="c-sidebar">
	<div class="c-sidebar-list">
		<ul>
			<li><a href="">CSS</a></li>
			<li><a href="">JS</a></li>
			<li><a href="">HTML</a></li>
			<li><a href="">HTML5</a></li>
			<li><a href="">jQuery</a></li>
			<li><a href="">Node</a></li>
			<li><a href="">SQL</a></li>
			<!-- 
			<li><a href="">Python</a></li>
			<li><a href="">Lua</a></li>
			<li><a href="">Go</a></li>
			<li><a href="">C</a></li>
			<li><a href="">C++</a></li>
			<li><a href="">C#</a></li>
			<li><a href="">PHP</a></li>
			-->
			<li><a href="">Git</a></li>
			<li><a href="">Linux</a></li>
			<li><a href="">RegEXP</a></li>
		</ul>
	</div>
	<div class="c-sidebar-footer">
		<p class="u-link">
			<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=5pSe0KaXl8iFiYs" target="_blank"><img src="image/common/email.png" width="12px" alt="iruxu的电子邮件" title="Email to me" ></a>
		    <a class="u-twitter" href="https://www.twitter.com/yuanzi0512" target="_blank"><img src="image/common/twitter.png" width="12px" alt="iruxu's Twitter'" title="Twitter"></a>
		    <a href="http://weibo.com/yuanzi0512" target="_blank"><img src="image/common/sina.png" width="12px" alt="iruxu的微博" title="Weibo"></a>
	    </p>
	    <span class="u-copyright">&copy;2016 <a href="">iRuxu.com</a></span>
	</div>
	<i class="u-folder" id="c-sidebar-folder"></i>
</div>