<div class="c-sidebar">
	<div class="c-sidebar-list">
		<ul>
			<li><a href="">Bookmark</a></li>
			<li><a href="">CSS</a></li>
		</ul>
	</div>
	<span class="u-copyright">&copy;2016 iRuxu.com</span>
</div>