<div class="c-snippet" id="snippet">
	<h6 class="u-title" id="box-title">iRuxu's Snippet Box</h6>
	<span class="u-close" id="closebox">×</span>
	<div class="m-box" id="box">
		<!-- some snippet will be show-->
	</div>
</div>