<div class="u-col">
    <div class="u-block">
        <h3>File<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>Cache Manifest<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>Web Workers<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
            </ul>
        </div>
    </div>
</div>