<div class="u-col">
    <div class="u-block">
        <h3>Drag<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
                <li>
                    <a href=""></a>
                    <span>
                        <a href="http://javascript.ruanyifeng.com/dom/event-type.html#toc17">参考资料</a>
                        <a href="https://www.awesomes.cn/repo/Shopify/draggable"></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>Touch<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
            </ul>
        </div>
    </div>
</div>