<div class="u-col">
    <div class="u-block">
        <h3>Web Workers<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>SSE<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>Web Socket<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] </h4>
            <ul>
                <li>
                    <a href="">onmessage</a>
                    <span>
                        该事件通过或者从对象(WebSocket, Web Worker, Event Source 或者子 frame 或父窗口)接收到消息时触发
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>