<div class="u-col">
    <div class="u-block">
        <h3>Canvas<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 核心</h4>
            <ul>
                <li>
                    <a href="">printf</a>(out,var)
                    <span>
                        输出
                        <a href="http://www.runoob.com/cprogramming/c-function-printf.html">参考资料</a>
                    </span>
                </li>
                <li>
                    <a href="">scanf</a>(in,&var)
                    <span>
                        输入
                        <a href="http://www.runoob.com/cprogramming/c-function-scanf.html">参考资料</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>