<div class="u-col">
    <div class="u-block">
        <h3>数值<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 核心</h4>
            <ul>
                
            </ul>
        </div>
    </div>
</div>