<div class="u-col">
    <div class="u-block">
        <h3>核心<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 基本</h4>
            <ul>
                <li>
                    <a href="">$</a>(selector)
                    <span>
                        返回一个包装对象 <br>
                        <a href="https://www.jquery123.com/jQuery/">参考资料</a>
                    </span>
                </li>
                <li>
                    <a href="">jQuery.noConflict()</a>
                    <span>
                        放弃jQuery控制$ 变量
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 索引</h4>
            <ul>
                <li><a href="">length</a>
                    <span>jQuery 对象中元素的个数</span>
                </li>
                <li><a href="">index</a>([sel])<span>
                    无参数，那么返回值就是这个jQuery对象集合中第一个元素相对于其同辈元素的位置。<br>
                    如果参数是一组DOM元素或者jQuery对象，那么返回值就是传递的元素相对于原先集合的位置。<br>
                    如果参数是一个选择器，那么返回值就是原先元素相对于选择器匹配元素中的位置。如果找不到匹配的元素，则返回-1。
                </span></li>
            </ul>
            <h4>[<span>-</span>] 取DOM</h4>
            <ul>
                <li><a href="">get</a>(index)/[index]<span>
                    取得其中一个匹配的元素，返回的是DOM</span>
                </li>
                <li>
                    <a href="">toArray()</a>
                    <span>
                        返回一个包含jQuery对象集合中的所有DOM元素的数组
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 数据</h4>
            <ul>
                <li>
                    <a href="">data</a>(name,[val])
                    <span>
                        向被选元素附加数据，或者从被选元素获取数据 <br>
                        <a href="http://www.runoob.com/jquery/misc-data.html">参考资料</a>
                    </span>
                </li>
                <li>
                    <a href="">removeData</a>([name])
                    <span>
                        移除之前存放的数据
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>工具<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 常用</h4>
            <ul>
                <li>
                    <a href="">$.type</a>(o)
                    <span>
                        确定JavaScript内置对象的类型
                    </span>
                </li>
                <li>
                    <a href="">$.trim</a>(str)
                    <span>
                        移除字符串开始和末尾处的所有换行符，空格(包括连续的空格)和制表符
                    </span>
                </li>
                <li>
                    <a href="">$.now()</a>
                    <span>
                        返回当前时间的Unix时间戳
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 数组/对象</h4>
            <ul>
                <li>
                    $(ele).<a href="">each</a>(fn(index,ele))
                    <span>
                        为每个匹配元素执行函数 <br>
                        ele代表当前的元素 <br>
                        返回 false 可用于及早停止循环
                    </span>
                </li>
                <li>
                    <a href="">$.each</a><em>(o,fn(index,item))</em>
                    <span>
                        遍历指定的对象和数组 <br>
                        <a href="http://www.runoob.com/jquery/misc_each.html">参考资料</a>
                    </span>
                </li>
                <li>
                    <a href="">$.map</a><em>(o,fn(item,index))</em>
                    <span>
                        需要指定return值 <br>
                        指定函数处理数组中的每个元素(或对象的每个属性)，并将处理结果封装为新的数组返回 <br>
                        该函数返回值将作为结果数组中的一个元素，如果返回值为null或undefined，则不会被添加到结果数组中.
                    </span>
                </li>
                <li>
                    <a href="">$.grep</a><em>(arr,fn(item,index))</em>
                    <span>
                        过滤并返回满足指定函数的数组元素 <br>
                        <a href="http://www.runoob.com/jquery/misc-grep.html">参考资料</a>
                    </span>
                </li>
                <li>
                    <a href="">$.merge</a>(arr1,arr2)
                    <span>
                        合并两个数组内容到第一个数组
                    </span>
                </li>
                <li>
                    <a href="">$.inArray</a>(item,arr)
                    <span>
                        数组中查找指定值并返回它的索引值（如果没有找到，则返回-1）
                    </span>
                </li>
                <li>
                    <a href="">$.makeArray</a>(o)
                    <span>
                        将一个类似数组的对象转换为真正的数组对象
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 扩展/插件</h4>
            <ul>
                <li>
                    <a href="">$.extend</a>(o1,o2)
                    <span>
                        将一个或多个对象的内容合并到目标对象 <br>
                        <a href="https://www.jquery123.com/jQuery.extend/">参考资料</a> <hr>
                        当我们提供两个或多个对象给$.extend()，对象的所有属性都添加到目标对象（target参数）。 <br>
                        如果只有一个参数提供给$.extend()，这意味着目标参数被省略。在这种情况下，jQuery对象本身被默认为目标对象。
                    </span>
                </li>
                <li>
                    <a href="">$.fn.extend</a>(o)
                    <span>
                        为jQuery扩展一个或多个实例属性和方法 <br>
                        <a href="http://www.runoob.com/jquery/misc-fn-extend.html">参考资料</a>
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 其它</h4>
            <ul>
                <li>
                    <a href="">$.sub()</a>
                    <span>
                        创建一个新的jQuery副本，其属性和方法可以修改，而不会影响原来的jQuery对象 <br>
                        <a href="http://www.runoob.com/jquery/misc-jquery-sub.html">参考资料</a>
                    </span>
                </li>
                <li>
                    <a href="">$.globalEval</a>(jsstr)
                    <span>
                        全局性地执行一段JavaScript代码
                    </span>
                </li>
            </ul>
            <h4>[<span>+</span>] 检测</h4>
            <ul style="display: none;">
                <li>
                    <a href="">$.isArray</a>(o)
                    <span>
                        判断指定参数是否是一个数组
                    </span>
                </li>
                <li>
                    <a href="">$.isFunction</a>(o)
                    <span>
                        判断指定参数是否是一个函数
                    </span>
                </li>
                <li>
                    <a href="">$.isNumeric</a>(o)
                    <span>
                            判断指定参数是否是一个数字值
                    </span>
                </li>
                <li>
                    <a href="">$.isEmptyObject</a>(o)
                    <span>
                        检查对象是否为空（不包含任何属性）
                    </span>
                </li>
                <li>
                    <a href="">$.isPlainObject</a>(o)
                    <span>
                        判断指定参数是否是一个纯粹的对象
                    </span>
                </li>
                <li>
                    <a href="">$.isWindow</a>(o)
                    <span>
                        判断指定参数是否是一个窗口
                    </span>
                </li>
                <li>
                    <a href="">$.isXMLDoc</a>(o)
                    <span>
                        判断一个DOM节点是否位于XML文档中，或者其本身就是XML文档
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>