<div class="u-col">
    <div class="u-block">
        <h3>延迟对象<span>+</span></h3>
        <div class="u-list" style="display:none">
         <ul>
          <li><a href="">def.done</a>(d,[d])<span></span></li>
          <li><a href="">def.fail</a>(failCallbacks)<span></span></li>
          <li><a href="">def.reject</a>(args)<span></span></li>
          <li><a href="">def.rejectWith</a>(c,[a])<span></span></li>
          <li><a href="">def.resolve</a>(args)<span></span></li>
          <li><a href="">def.resolveWith</a>(c,[a])<span></span></li>
          <li><a href="">def.promise</a>([ty],[ta])<span></span></li>
          <li><a href="">def.always</a>(al,[al])<span></span></li>
          <li><a href="">def.notify</a>(args)<span></span></li>
          <li><a href="">def.notifyWith</a>(c,[a])<span></span></li>
          <li><a href="">def.progress</a>(proCal) <span></span></li>
          <li><a href="">def.state()</a><span></span></li>
         </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>回调函数<span>+</span></h3>
        <div class="u-list" style="display:none">
         <ul>
          <li><a href="">cal.add</a>(callbacks)<span></span></li>
          <li><a href="">cal.disable()</a><span></span></li>
          <li><a href="">cal.empty()</a><span></span></li>
          <li><a href="">cal.fire</a>(arguments)<span></span></li>
          <li><a href="">cal.fired()</a><span></span></li>
          <li><a href="">cal.fireWith</a>([c] [,a])<span></span></li>
          <li><a href="">cal.has</a>(callback)<span></span></li>
          <li><a href="">cal.lock()</a><span></span></li>
          <li><a href="">cal.locked()</a><span></span></li>
          <li><a href="">cal.remove</a>(callbacks)<span></span></li>
          <li><a href="">$.callbacks</a>(flags)<span></span></li>
         </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>参考资料<span>-</span></h3>
        <div class="u-list" >
         <h4>[<span>-</span>] 扩展</h4>
         <ul>
          <li><a href="http://plugins.jquery.com/?s=">官方插件库</a></li>
          <li><a href="http://www.jq22.com/">中文插件库</a></li>
          <li><a href="http://www.jeasyui.com/index.php">Esay UI</a></li>
          <li><a href="http://jqueryui.com/download/">jQuery UI</a></li>
         </ul>
         <h4>[<span>-</span>] 资料</h4>
         <ul>
          <li><a href="http://jquery.bootcss.com/">中文API文档</a></li>
          <li><a href="http://hemin.cn/jq/">JQ中文手册</a></li>
          <li><a href="http://pan.baidu.com/s/1i35lmlf">jQuery源码分析</a><span> jQuery技术内幕：深入解析jQuery架构设计与实现原理</span></li>
          <li><a href="http://study.163.com/course/courseMain.htm?courseId=501006">李炎恢jQuery视频教程</a></li>
         </ul>
         <h4>[<span>-</span>] 浏览器API</h4>
         <ul>
          <li><a href="http://msdn.microsoft.com/zh-cn/ie">IE API</a><span></span></li>
          <li><a href="https://developer.mozilla.org/zh-CN/">FireFox API</a><span></span></li>
         </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>提醒<span>-</span></h3>
        <div class="u-list" >
        <h4>[<span>-</span>] 粗心大魔王</h4>
        <ul>
        <li><a href="">JQ需要先执行ready函数内</a></li>
        <li><a href="">坐标位置与宽度加px</a></li>
        <li><a href="">字符串与属性值要引号</a></li>
        <li><a href="">属性与CSS的回调可用index</a></li>
        <li><a href="">动画中可用options</a></li>
        <li><a href="">使用slow等内置参数时加引号</a></li>
        <li><a href="">事件中可用e和data</a></li>
        <li><a href="">a弹出应用注意先阻止默认行为或+冒泡</a></li>
        </ul>
        </div>
    </div>
</div>