<div class="u-col">
    <div class="u-block">
        <h3>Meta<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>]Info</h4>
            <ul>
                <li><a href="">!doctype html</a><span>
                    HTML5 
                    <br /><input type="text" value="<!doctype html>">
                    <br />HTML4无框架
                    <br /><textarea name="" id=""><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"></textarea>
                    <br />HTML4有框架
                    <br /><textarea name="" id=""><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd"></textarea>
                </span></li>
                <li><a href="">lang</a><span>
                    简体中文 html lang="zh-cmn-Hans"<br />
                    繁体中文 html lang="zh-cmn-Hant"<br />
                    <a href="http://zhi.hu/XyIa" target="_blank">参考资料</a>
                </span></li>
                <li><a href="">title</a><span>标题</span></li>
                <li><a href="">charset</a><span>
                    HTML5
                    <br /><input type="text" value='<meta charset="utf-8">'/>
                    <br />HTML4
                    <br /><input type="text" value='<meta http-equiv="content-type" content="text/html; charset=utf-8">'/>
                </span></li>
                <li><a href="">base</a>
                    <span>定义页面中所有链接的默认地址或默认目标。
                    <br />注释：如果使用了base标签，则必须具备 href 属性或者 target 属性或者两个属性都具备。</span></li>
            </ul>
            <h4>[<span>-</span>]Name</h4>
            <ul>
                <li><a href=""></a>(SEO)<span>
                    <table>
                        <tr><th>name</th><th>content</th></tr>
                        <tr><td>author</td><td>作者</td></tr>
                        <tr><td>description</td><td>描述</td></tr>
                        <tr><td>keywords</td><td>关键词</td></tr>
                        <tr><td>generator</td><td>创建者/程序</td></tr>
                        <tr><td>copyright</td><td>版权信息</td></tr>
                        <tr><td>revised</td><td>页面的最新版本 (  David, 2008/8/8/  )</td></tr>
                    </table>
                </span></li>
                <li><a href="">viewport</a>
                        <span><input type="text" value='<meta name="viewport" content="width=device-width,initial-scale=1.0,minimal-ui"/>'/>
                        <br />width viewport 宽度(数值/device-width)
                        <br />height viewport 高度(数值/device-height)
                        <br />initial-scale 初始缩放比例
                        <br />maximum-scale 最大缩放比例
                        <br />minimum-scale 最小缩放比例
                        <br /><a href="http://bigc.at/ios-webapp-viewport-meta.orz">user-scalable 是否允许用户缩放(yes/no)</a>
                        <br />minimal-ui 在页面加载时最小化上下状态栏(iOS7.1)
                        </span></li>
                <li><a href="">robots</a><span>
                    <input type="text" value='<meta name="robots" content="index,follow">'/>
                    <all></all>
                    设定为all：文件将被检索，且页面上的链接可以被查询； <br />
                    设定为none：文件将不被检索，且页面上的链接不可以被查询； <br />
                    设定为index：文件将被检索； <br />
                    设定为follow：页面上的链接可以被查询； <br />
                    设定为noindex：文件将不被检索，但页面上的链接可以被查询； <br />
                    设定为nofollow：文件将不被检索，页面上的链接可以被查询。<br />
                    <a href="https://msdn.microsoft.com/zh-cn/library/ff724037(v=expression.40).aspx" target="_blank">参考资料</a>
                </span></li>
                <li><a href="">google</a><span>
                    <pre><code data-language="html"><meta name="googlebot" content="index,follow"></code></pre>
                    设置搜索引擎的检索，仅对google有效
                    <pre><code data-language="html"><meta name="google" content="nositelinkssearchbox"></code></pre>
                    告诉 Google 不显示网站链接的搜索框
                    <pre><code data-language="html"><meta name="google" content="notranslate"></code></pre>
                    告诉 Google 不提供此页面的翻译<br />
                    <a href="https://support.google.com/webmasters/answer/79812?hl=zh-Hans" target="_blank">参考资料</a>
                </span></li>
            </ul>
            <h4>[<span>-</span>]http-equiv</h4>
            <ul>
                <li><a href="">X-UA-Compatible</a><span>
                    <pre><code data-language="html">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                        //强制使用IE最高版本及谷歌内核

                        <meta name="renderer" content="webkit">
                        //360安全浏览器默认使用极速模式渲染
                    </code></pre>
                    <br /><a href="http://se.360.cn/v6/help/meta.html">360浏览器内核控制 Meta 标签说明文档</a></span></li>
                <li><a href="">Cache-Control</a><span>不允许百度转码 
                        <br />旧写法：
                        <br /><input type="text" value='<meta http-equiv="Cache-Control" content="no-transform"/>'/>
                        <br />新写法：
                        <br /><input type="text"  value='<meta http-equiv="Cache-Control" content="no-siteapp"/>'/>
                        </span></li>
                <li><a href="">refresh</a><span>
                    <input type="text" value='<meta http-equiv="Refresh" content="n;url=http://yourlink">'/>
                    <br />定时让网页在指定的时间n内，跳转到页面http://yourlink；
                </span></li>
                <li><a href="">windows-target</a><span>
                    <input type="text" value='<meta http-equiv="windows-Target" content="_top">'/>
                    <br />强制页面在当前窗口中以独立页面显示，可以防止自己的网页被别人当作一个frame页调用
                </span></li>
                <li><a href="">Page-Enter</a><span>
                    <input type="text" value='<meta http-equiv="Page-Enter" content="revealTrans(duration=5.0,transition=20)">'/>
                    <strong>Duration持续时间</strong>（单位：秒）<br />
                    <strong>Transition滤镜类型</strong>。表示使用哪种特效，取值为0-23: <br />
                    <table border="1" cellspacing="0" cellpadding="2">
                    <tbody>
                    <tr>
                    <td valign="top">0 矩形缩小</td>
                    <td valign="top">1矩形扩大</td>
                    <td valign="top">2 圆形缩小</td>
                    <td valign="top">3 圆形扩大</td>
                    <td valign="top">4 下到上刷新</td>
                    <td valign="top">5 上到下刷新</td>
                    </tr>
                    <tr>
                    <td valign="top">6 左到右刷新</td>
                    <td valign="top">7 右到左刷新</td>
                    <td valign="top">8 竖百叶窗</td>
                    <td valign="top">9 横百叶窗</td>
                    <td valign="top">10 错位横百叶窗</td>
                    <td valign="top">11 错位竖百叶窗</td>
                    </tr>
                    <tr>
                    <td valign="top">12 点扩散</td>
                    <td valign="top">13 左右到中间刷新</td>
                    <td valign="top">14 中间到左右刷新</td>
                    <td valign="top">15 中间到上下</td>
                    <td valign="top">16 上下到中间</td>
                    <td valign="top">17 右下到左上</td>
                    </tr>
                    <tr>
                    <td valign="top">18 右上到左下</td>
                    <td valign="top">19 左上到右下</td>
                    <td valign="top">20 左下到右上</td>
                    <td valign="top">21 横条</td>
                    <td valign="top">22 竖条</td>
                    <td valign="top">23 以上22种随机选择一种</td>
                    </tr>
                    </tbody>
                    </table>
                </span></li>
                <li><a href="">expires</a><span>
                    <input type="text" value='<meta http-equiv="Expires" content="Mon,12 May 2001 00:20:00 GMT">'/>
                    网页到期时间
                </span></li>
                <li><a href="">pragma</a><span>
                    <input type="text" value='<meta http-equiv="Pragma" content="no-cache">'/>
                    禁止缓存和脱机浏览
                </span></li>
                <li><a href="">set-cookie</a><span>
                    <input type="text" value='<meta http-equiv="set-cookie" content="Mon,12 May 2001 00:20:00 GMT">'/>
                    Cookie过期自动删除
                </span></li>
                <li><a href="">pics-label</a><span>
                    <input type="text" value='<meta http-equiv="Pics-label" content="">'/>
                    IE网页评级
                </span></li>
                <li><a href="">Content-Security-Policy</a><span>
                    <pre><code data-language="html">&lt;meta http-equiv="Content-Security-Policy" content="default-src 'self'"&gt;</code></pre>
                    对外部资源加载的限制（允许控制从哪里加载资源）<br />
                    <a href="http://www.ruanyifeng.com/blog/2016/09/csp.html" target="_blank">参考资料</a>
                </span></li>
                <li><a href="">x-dns-prefetch-control</a><span>
                    <pre><code data-language="html"><meta http-equiv="x-dns-prefetch-control" content="off"></code></pre>
                    通过设置为 “off” 完全退出 DNS 预取
                    <pre><code data-language="html"><link rel="dns-prefetch" href="//www.spreadfirefox.com"></code></pre>
                    强制查询特定主机名
                    <a href="https://developer.mozilla.org/zh-CN/docs/Controlling_DNS_prefetching" target="_blank">参考资料</a>
                </span></li>
            </ul>
            <h4>[<span>-</span>]Link</h4>
            <ul>
                <li><a href="">stylesheet</a><span>
                    可配合条件注释或指定media媒体查询引入样式表<br />
                    <pre><code data-language="html"><link rel="stylesheet" href=""></code></pre>
                    </span></li>
                <li><a href="">icon</a><span>
                    小ICON图标
                    <pre><code data-language="html"><link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"></code></pre>
                    <a href="https://github.com/audreyr/favicon-cheat-sheet" target="_blank">参考资料1</a> | <a href="https://bitsofco.de/all-about-favicons-and-touch-icons/" target="_blank">参考资料2</a>
                    </span></li>
                <li><a href="">dns-prefetch</a><span>
                    提前域名解析
                    <pre><code data-language="html"><link rel="dns-prefetch" href="//www.domain1.com"></code></pre>
                    <a href="http://www.css88.com/archives/8052" target="_blank">参考资料1</a> | <a href="https://css-tricks.com/prefetching-preloading-prebrowsing/" target="_blank">参考资料2</a>
                </span></li>
                <li><a href="">canonical</a><span>
                    <pre><code data-language="html"><link rel="canonical" href="https://example.com/2010/06/9-things-to-do-before-entering-social-media.html"></code></pre>有助于防止出现内容重复的问题 <br />
                    <a href="http://justcoding.iteye.com/blog/1329874" target="_blank">参考资料</a>
                </span></li>
            </ul>
            <h4>[<span>-</span>]Script</h4>
            <ul>
                <li><a href="">script</a><span>
                    可以写在body区域或底部,推荐放在底部加载 <hr />
                    type : 如果type属性的值，浏览器不认识，那么它不会执行其中的代码。<br />
                    integrity : 指定了外部脚本Hash签名，一旦有人改了这个脚本，导致签名不匹配，浏览器就会拒绝加载。 <hr />
                    defer : 延迟加载 <br />
                    async : 异步加载 <br />
                    一般来说，如果脚本之间没有依赖关系，就使用async属性，如果脚本之间有依赖关系，就使用defer属性。如果同时使用async和defer属性，后者不起作用，浏览器行为由async属性决定。 <br /> 
                    defer与async的区别是：defer要等到整个页面在内存中正常渲染结束（DOM 结构完全生成，以及其他脚本执行完成），才会执行；async一旦下载完，渲染引擎就会中断渲染，执行这个脚本以后，再继续渲染。一句话，defer是“渲染完再执行”，async是“下载完就执行”。另外，如果有多个defer脚本，会按照它们在页面出现的顺序加载，而多个async脚本是不能保证加载顺序的。
                    </span></li>
                <li><a href="">noscript</a><span>
                    禁用脚本提示
                    </span></li>
                <li><a href="">IE9-</a><span>
                    IE9-支持HTML5
                    <pre><code data-language="html"><!--[if lt IE 9]>
                        <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
                        <![endif]--></code></pre>
                    IE9-支持媒体查询
                    <pre><code data-language="html"><!--[if lt IE 9]>
                        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
                        <![endif]--></code></pre>
                    <a href="http://selectivizr.com/" target="_blank">IE9-支持CSS3选择器</a><br />
                    <a href="http://modernizr.com/" target="_blank">modernizr</a>
                </span></li>
            </ul>
            <h4>[<span>+</span>]Windows</h4>
            <ul style="display:none;">
                <li><a href="">msapplication-TileColor</a><span>
                    Windows磁贴颜色
                    <pre><code data-language="html"><meta name="msapplication-TileColor" content="#000"/></code></pre>
                    </span></li>
                <li><a href="">msapplication-TileImage</a><span>
                    Windows磁贴图标
                    <pre><code data-language="html"><meta name="msapplication-TileImage" content="icon.png"/></code></pre>
                </span></li>
                <li><a href="">msapplication-tap-highlight</a><span>
                    windows phone 点击无高光
                    <pre><code data-language="html"><meta name="msapplication-tap-highlight" content="no"></code></pre>
                </span></li>
            </ul>
            <h4>[<span>+</span>]iOS</h4>
            <ul style="display:none;">
                <li><a href="">apple-mobile-web-app-capable</a><span>
                    启用 WebApp 全屏模式
                    <pre><code data-language="html">
                    <meta name="apple-mobile-web-app-capable" content="yes" />
                    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
                    <meta name="apple-mobile-web-app-title" content="应用标题"/>
                    </code></pre>
                </span></li>
                <li><a href="">format-detection</a><span>
                    禁止识别电话号码/邮件
                    <pre><code data-language="html"><meta name="format-detection" content="telphone=no, email=no" /></code></pre>
                </span></li>
                <li><a href="">apple-itunes-app</a><span>
                    <pre><code data-language="html">
                    <!-- 智能应用 Banner -->
                    <meta name="apple-itunes-app" content="app-id=APP_ID,affiliate-data=AFFILIATE_ID,app-argument=SOME_TEXT"/>
                    <!-- iOS 应用深层链接 -->
                    <meta name="apple-itunes-app" content="app-id=APP-ID, app-argument=http/url-sample.com"/>
                    <link rel="alternate" href="ios-app://APP-ID/http/url-sample.com"/>
                    </code></pre>
                </span></li>
                <li><a href="">apple-touch-icon</a><span>
                    触摸图标，大多数情况下一个180*180即可
                    <pre><code data-language="html"><link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png"/></code></pre>
                </span></li>
            </ul>
            <h4>[<span>+</span>]Other</h4>
            <ul style="display:none;">
                <li><a href=""></a>UC Browser<span>
                    <pre><code data-language="html">
                    <!-- 在指定方向上锁定屏幕（锁定横/竖屏） -->
                    <meta name="screen-orientation" content="landscape/portrait"/>
                    <!-- 全屏显示此页面 -->
                    <meta name="full-screen" content="yes"/>
                    <!-- 即使在“文本模式”下，UC 浏览器也会显示图片 -->
                    <meta name="imagemode" content="force"/>
                    <!-- 页面将以“应用模式”显示（全屏、禁止手势等） -->
                    <meta name="browsermode" content="application"/>
                    <!-- 在此页面禁用 UC 浏览器的“夜间模式” -->
                    <meta name="nightmode" content="disable"/>
                    <!-- 简化页面，减少数据传输 -->
                    <meta name="layoutmode" content="fitscreen"/>
                    <!-- 禁用的 UC 浏览器的功能，“当此页面中有较多文本时缩放字体” -->
                    <meta name="wap-font-scale" content="no"/>
                    </code></pre>   
                </span></li>
                <li><a href=""></a>QQ Browser<span>
                    <pre><code data-language="html">
                    <!-- 在指定方向上锁定屏幕（锁定横/竖屏） -->
                    <meta name="x5-orientation" content="landscape/portrait"/>
                    <!-- 全屏显示此页面 -->
                    <meta name="x5-fullscreen" content="true"/>
                    <!-- 页面将以“应用模式”显示（全屏等）-->
                    <meta name="x5-page-mode" content="app"/>
                    </code></pre>   
                </span></li>
            </ul>
        </div>
    </div>
</div>