<div class="u-col">
    <div class="u-block">
        <h3>DOM对象<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Document</h4>
            <ul>
                <li>
                    doc.<a href="">activeElement</a>
                    <span>
                        返回当前获取焦点元素
                    </span>
                </li>
                <li>
                    doc.<a href="">domain</a>
                    <span>
                        返回当前文档的域名
                    </span>
                </li>
                <li>
                    doc.<a href="">cookie</a>
                    <span>
                        设置或返回与当前文档有关的所有cookie <br>
                        key=value;...
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">inputEncoding</a>
                    <span>
                        返回文档的字符编码 <br>
                        IE8及以下，Oprea不支持
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">baseURI</a>
                    <span>
                        返回文档绝对基础URI <br>
                        IE不支持
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">doctype</a>
                    <span>
                        返回文档类型声明。<br>
                        IE8及以下返回null。支持XML。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Element</h4>
            <ul>
                
            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>BOM对象<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 属性</h4>
            <ul>
            </ul>
        </div>
    </div>
</div>