<div class="u-col">
    <div class="u-block">
        <h3>DOM属性<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Node</h4>
            <ul>
                <li>
                    node.<a href="">nodeName</a>
                    <span>
                        返回元素的标记名（大写）。 <br>
                        如果节点是一个元素节点，则返回标签名；如为属性节点，则返回属性名。
                    </span>
                </li>
                <li>
                    node.<a href="">nodeType</a>
                    <span>
                        返回元素的节点类型（数值）。 <br>
                        <a href="http://www.runoob.com/jsref/prop-node-nodetype.html">参考资料</a>
                    </span>
                </li>
                <li>
                    node.<a href="">nodeValue</a>
                    <span>
                        返回元素的节点值 <br>
                        需先取到文本节点，再取文本节点的值。<br>
                        由于只有Text节点、Comment节点、XML文档的CDATA节点有文本值，因此只有这三类节点的nodeValue可以返回结果，其他类型的节点一律返回null。同样的，也只有这三类节点可以设置nodeValue属性的值。对于那些返回null的节点，设置nodeValue属性是无效的。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] NodeList</h4>
            <ul>
                <li>
                    nodelist.<a href="">item</a>(i)
                    <span>
                        等同于nodelist[i]
                    </span>
                </li>
                <li>
                    nodelist.<a href="">length</a>
                    <span>
                        节点列表长度
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Document</h4>
            <ul>
                <li>
                    doc.<a href="">readyState</a>
                    <span>
                        返回当前文档的状态 <br>
                        <ol>
                            <li>uninitalized - 还未开始载入</li>
                            <li>loading - 载入中</li>
                            <li>interactive - 已加载，文档与用户可以开始交互</li>
                            <li>complete - 载入完成</li>
                        </ol>
                    </span>
                </li>
                <li>
                    doc.<a href="">referrer</a>
                    <span>
                        返回载入当前文档的来源文档的URL。 <br>
                        如果当前文档不是通过超级链接访问的，则为null。
                    </span>
                </li>
                <li>
                    doc.<a href="">activeElement</a>
                    <span>
                        返回当前获取焦点元素
                    </span>
                </li>
                <li>
                    doc.<a href="">designMode</a>
                    <span>
                        值为'on'/'off'，IE6-10为大写。
                        <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Document/designMode">参考资料</a>
                         <br>控制当前文档是否可编辑，通常用在制作所见即所得编辑器。<br>
                         打开iframe元素包含的文档的designMode属性，就能将其变为一个所见即所得的编辑器。 <br>
                         iframe.contentDocument.designMode = 'on'
                    </span>
                </li>
                <li>
                    doc.<a href="">lastModified</a>
                    <span>
                        返回文档最后被修改的日期和时间 <br>
                        10/19/2017 15:24:30
                    </span>
                </li>
                <li>
                    doc.<a href="">cookie</a>
                    <span>
                        设置或返回与当前文档有关的所有cookie <br>
                        key=value;...
                    </span>
                </li>
                <li>
                    doc.<a href="">domain</a>
                    <span>
                        返回当前文档的域名 <br>
                        如果无法获取域名，该属性返回null。
                    </span>
                </li>
                <li>
                    doc.<a href="">URL/documentURI</a>
                    <span>
                        返回文档的URL，必须为大写。 <br>
                        document.documentURI属性和document.URL属性都返回一个字符串，表示当前文档的网址。不同之处是documentURI属性可用于所有文档（包括 XML 文档），URL属性只能用于 HTML 文档。
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">inputEncoding</a>
                    <span>
                        返回文档的字符编码 <br>
                        IE8及以下，Oprea不支持
                    </span>
                </li>
                <li>
                    doc.<a href="">characterSet</a>
                    <span>
                        返回渲染当前文档的字符集，比如UTF-8、ISO-8859-1。
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">baseURI</a>
                    <span>
                        返回文档绝对基础URI <br>
                        如果无法取到这个值，则返回null。 <br>
                        该属性为只读。<br>
                        IE不支持
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">doctype</a>
                    <span>
                        返回文档类型声明。<br>
                        IE8及以下返回null。支持XML。
                    </span>
                </li>
                <li>
                    doc.<a href="">defaultView</a>
                    <span>
                        在浏览器中返回document对象所在的window对象，否则返回null。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Element</h4>
            <ul>
                <li>
                    <a href="">new Image()</a>
                    <span>
                        <table>
                            <tr>
                                <th>属性</th>
                                <th>描述</th>
                            </tr>
                            <tr>
                                <td>src</td>
                                <td>图像src属性值，可读写</td>
                            </tr>
                            <tr>
                                <td>alt</td>
                                <td>图像alt描述内容</td>
                            </tr>
                            <tr>
                                <td>width</td>
                                <td>宽度</td>
                            </tr>
                            <tr>
                                <td>height</td>
                                <td>高度</td>
                            </tr>
                            <tr>
                                <td>naturalWidth</td>
                                <td>图像的原始宽度，只读</td>
                            </tr>
                            <tr>
                                <td>naturalHeight</td>
                                <td>图像的原始高度，只读</td>
                            </tr>
                            <tr>
                                <td>complete</td>
                                <td>返回一个布尔值，表示图表是否已经加载完成</td>
                            </tr>
                            <tr>
                                <td>onload</td>
                                <td>指定一个图像加载完成后的回调函数</td>
                            </tr>
                            <tr>
                                <td>crossOrigin</td>
                                <td>图像跨域的CORS设置</td>
                            </tr>
                            <tr>
                                <td>isMap</td>
                                <td>图像是否为服务器端的image-map，可读写</td>
                            </tr>
                            <tr>
                                <td>useMap</td>
                                <td>设置图像的usemap属性</td>
                            </tr>
                        </table>
                    </span>
                </li>
                <li>
                    ele.<a href="">attributes</a>
                    <span>
                        返回一个元素的属性类数组对象。 <hr>
                        document.body.attributes[0] <br>
                        document.body.attributes.bgcolor <br>
                        document.body.attributes['ONLOAD']
                    </span>
                </li>
                <li>
                    ele.<a href="">dataset</a>
                    <span>
                        HTML元素节点的标准属性（即在标准中定义的属性），会自动成为元素节点对象的属性。 <br>
                        href/src/action/method/htmlfor(label for)/... <br>
                        data-* 自定义属性，使用dataset.xxx设置
                    </span>
                </li>
                <li>
                    ele.<a href="">id</a>
                    <span>
                        设置或返回元素的id
                    </span>
                </li>
                <li>
                    ele.<a href="">tagName</a>
                    <span>
                        返回指定元素的大写标签名，与nodeName属性的值相等
                    </span>
                </li>
                <li>
                    dom.<a href="">title</a>
                    <span>
                        设置或返回当前文档/元素的标题
                    </span>
                </li>
                <li>
                    ele.<a href="">accessKey</a>
                    <span>
                        设置或返回accessKey一个元素。 <br>
                        document.getElementById('w3c').accessKey="w" <br>
                        可使用Alt + accessKey 设置的键位快捷访问该元素。
                    </span>
                </li>
                <li>
                    ele.<a href="">tabIndex</a>
                    <span>
                        设置或返回元素的标签顺序 <br>
                        即通过tab键切换时的顺序 <br>
                        <a href="http://www.powerxing.com/html-attribute-tabindex/">参考资料</a>
                    </span>
                </li>
                <li>
                    ele.<a href="">dir</a>
                    <span>
                        设置或返回一个元素中的文本方向。 <br>
                        dir = ltr / rtl
                    </span>
                </li>
                <li>
                    ele.<a href="">ownerDocument</a>
                    <span>
                        返回当前节点所在的顶层文档对象，即document对象。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Text</h4>
            <ul>
                <li>
                    txt.<a href="">data</a>
                    <span>
                        data属性等同于nodeValue属性，用来设置或读取Text节点的内容
                    </span>
                </li>
                <li>
                    txt.<a href="">length</a>
                    <span>
                        返回当前Text节点的文本长度。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Attribute</h4>
            <ul>
                <li>
                    attr.<a href="">name</a>
                    <span>
                        返回属性名称
                    </span>
                </li>
                <li>
                    attr.<a href="">value</a>
                    <span>
                        设置或返回属性值
                    </span>
                </li>
                <li>
                    attr.<a href="">specified</a>
                    <span>
                        检查属性节点是否存在值，返回布尔值 <br>
                        注意先需获取到的是属性节点
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>