<div class="u-col">
    <div class="u-block">
        <h3>尺寸与坐标<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 尺寸</h4>
            <ul>
                <li>
                    ele.<a href="">clientWidth</a>
                    <span>
                        返回内容的可视宽度（不包括边框，边距或滚动条） <br>
                        即元素宽度 - 边框 - 边距 - 17px(滚动条)
                    </span>
                </li>
                <li>
                    ele.<a href="">clientHeight</a>
                    <span>
                        返回元素的可视高度，包括填充，不包括边框+滚动条+边距 <br>
                        即元素高度 - 边框 - 边距 - 17px(滚动条)
                    </span>
                </li>
                <li>
                    ele.<a href="">scrollWidth</a>
                    <span>
                        返回元素的宽度，包括填充，不包括边框+滚动条+边距，但包括带滚动条的隐蔽地方 <br>
                        即当有子元素的溢出宽度时，等于子元素的宽度，否则等于可视宽度
                    </span>
                </li>
                <li>
                    ele.<a href="">scrollHeight</a>
                    <span>
                        返回元素的高度，包括填充，不包括边框+滚动条+边距，但包括带滚动条的隐蔽地方 <br>
                        即当有子元素的溢出高度时，等于子元素的高度，否则等于可视高度
                    </span>
                </li>
                <li>
                    ele.<a href="">offsetWidth</a>
                    <span>
                        返回元素的宽度，包括填充，也包括边框+滚动条，不包括边距 <br>
                        即元素盒模型宽度
                    </span>
                </li>
                <li>
                    ele.<a href="">offsetHeight</a>
                    <span>
                        返回元素的高度，包括填充，也包括边框+滚动条，不包括边距 <br>
                        即元素盒模型高度
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 坐标</h4>
            <ul>
                <li>
                    e.<a href="">clientX</a>
                    <span>
                        返回当事件被触发时，鼠标指针在浏览器中的水平坐标
                    </span>
                </li>
                <li>
                    e.<a href="">clientY</a>
                    <span>
                        返回当事件被触发时，鼠标指针在浏览器中的垂直坐标
                    </span>
                </li>
                <li>
                    e.<a href="">screenX</a>
                    <span>
                        返回当事件被触发时，鼠标指针在屏幕中的水平坐标
                    </span>
                </li>
                <li>
                    e.<a href="">screenY</a>
                    <span>
                        返回当事件被触发时，鼠标指针在屏幕中的垂直坐标
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 偏移</h4>
            <ul>
                <li>
                    ele.<a href="">offsetLeft</a>
                    <span>
                        返回当前元素的相对水平偏移
                    </span>
                </li>
                <li>
                    ele.<a href="">offsetTop</a>
                    <span>
                        返回当前元素的相对垂直偏移
                    </span>
                </li>
                <li>
                    ele.<a href="">offsetParent</a>
                    <span>
                        返回当前元素的偏移容器
                    </span>
                </li>
                <li>
                    ele.<a href="">getBoundingClientRect()</a>.left/top
                    <span>
                        某个元素距离视口左上角的坐标
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 滚动</h4>
            <ul>
                <li>
                    ele.<a href="">scrollLeft</a>
                    <span>
                        当元素有overflow时生效，设置或返回距左边缘起始点的滚动位置点
                    </span>
                </li>
                <li>
                    ele.<a href="">scrollTop</a>
                    <span>
                        当元素有overflow时生效，设置或返回距顶部边缘起始点的滚动位置点
                    </span>
                </li>
                <li>
                    window.<a href="">scrollTo</a>(x,y)
                    <span>
                        把内容滚动到指定的坐标
                    </span>
                </li>
                <li>
                    window.<a href="">scrollBy</a>(x,y)
                    <span>
                        按照指定的像素值来滚动内容
                    </span>
                </li>
                <li class="i-dot-orange">
                    window.<a href="">pageXOffset</a>
                    <span>
                        设置或返回当前页面相对于窗口显示区左上角的 X 位置 <br>
                        IE8及以下不支持，用document.documentElement.scrollLeft来替代
                    </span>
                </li>
                <li class="i-dot-orange">
                    window.<a href="">pageYOffset</a>
                    <span>
                        设置或返回当前页面相对于窗口显示区左上角的 Y 位置<br>
                        IE8及以下不支持，用document.documentElement.scrollTop来替代
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] window</h4>
            <ul>
                <li class="i-dot-orange">
                    window.<a href="">innerWidth</a>
                    <span>
                        返回窗口的文档显示区的宽度（包括滚动条）<br>
                        var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                    </span>
                </li>
                <li class="i-dot-orange">
                    window.<a href="">innerHeight</a>
                    <span>
                        返回窗口的文档显示区的高度（包括滚动条） <br>
                        var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] screen</h4>
            <ul>
                <li>
                    screen.<a href="">width</a>
                    <span>
                        返回屏幕的总宽度
                    </span>
                </li>
                <li>
                    screen.<a href="">height</a>
                    <span>
                        返回屏幕的总高度
                    </span>
                </li>
                <li>
                    screen.<a href="">availWidth</a>
                    <span>
                        返回屏幕的宽度（不包括Windows任务栏）
                    </span>
                </li>
                <li>
                    screen.<a href="">availHeight</a>
                    <span>
                        返回屏幕的高度（不包括Windows任务栏）
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>