<div class="u-col">
    <div class="u-block">
        <h3>BOM<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Navigator</h4>
            <ul></ul>
            <h4>[<span>-</span>] Location</h4>
            <ul></ul>
            <h4>[<span>-</span>] History</h4>
            <ul></ul>
        </div>
    </div>
</div>