<div class="u-col">
    <div class="u-block">
        <h3>DOM操作<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 属性</h4>
            <ul>
                <li>
                    dom.<a href="">creatAttribute</a>('att')
                    <span>
                        创建一个属性节点，并返回该attr对象。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 遍历</h4>
            <ul>
                <li>
                    doc.<a href="">documentElement</a>
                    <span>
                        返回文档的根节点（html元素）
                    </span>
                </li>
                <li>
                    doc.<a href="">body</a>
                    <span>
                        返回文档的body元素
                    </span>
                </li>
                <li>
                    doc.<a href="">images</a>
                    <span>
                        返回文档中所有image对象引用
                    </span>
                </li>
                <li>
                    doc.<a href="">anchors</a>
                    <span>
                        返回文档中所有的锚点的集合。即带有name属性的a标签。 <br>
                        document.anchors.length <br>
                        document.anchors[0]
                    </span>
                </li>
                <li>
                    doc.<a href="">forms</a>
                    <span>
                        返回文档中所有表单的集合。 <br>
                        document.forms[0]  <br>
                        document.forms.name1
                    </span>
                </li>
                <li>
                    doc.<a href="">getElementById</a><em>('id')</em>
                    <span>
                        返回拥有指定ID的第一个对象的引用。<br>
                        如果没有指定ID的元素返回null。
                    </span>
                </li>
                <li>
                    doc.<a href="">getElementsByTagName</a><em>('tag')</em>
                    <span>
                        返回带有指定标签名的对象的集合。 <br>
                        *返回文档的所有元素。 <br>
                        *返回的元素集合中的0为html
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">getElementsByClassName</a><em>('cls')</em>
                    <span>
                        返回文档中所有指定类名的元素集合。 <br>
                        IE8及以下不支持。
                    </span>
                </li>
                <li>
                    doc.<a href="">getElementsByName</a><em>('name')</em>
                    <span>
                        返回带有指定名称的对象的集合。
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">importNode</a>(node,deep)
                    <span>
                        把一个节点从另一个文档复制到该文档以便应用。 <br>
                        第2个参数为必须，true代表还要复制该节点的所有子孙节点。 <br>
                        IE8及以下不支持。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 更新</h4>
            <ul>
            </ul>
            <h4>[<span>-</span>] 添加</h4>
            <ul>
                <li>
                    doc.<a href="">creatDocumentFragment()</a>
                    <span>
                        创建一个虚拟的节点对象，节点对象包含所有属性和方法。 <br>
                        var temp=document.createDocumentFragment();
                    </span>
                </li>
                <li>
                    doc.<a href="">creatComment</a>('str')
                    <span>
                        创建注释节点
                    </span>
                </li>
                <li>
                    doc.<a href="">creatElement</a>('ele')
                    <span>
                        创建元素节点
                    </span>
                </li>
                <li>
                    doc.<a href="">creatTextNode</a>('str')
                    <span>
                        创建文本节点
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 删除</h4>
            <ul>
            </ul>
        </div>
    </div>
</div>