<div class="u-col">
    <div class="u-block">
        <h3>DOM属性<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] Document</h4>
            <ul>
                <li>
                    doc.<a href="">readyState</a>
                    <span>
                        返回当前文档的状态 <br>
                        <ol>
                            <li>uninitalized - 还未开始载入</li>
                            <li>loading - 载入中</li>
                            <li>interactive - 已加载，文档与用户可以开始交互</li>
                            <li>complete - 载入完成</li>
                        </ol>
                    </span>
                </li>
                <li>
                    doc.<a href="">referrer</a>
                    <span>
                        返回载入当前文档的来源文档的URL。 <br>
                        如果当前文档不是通过超级链接访问的，则为null。
                    </span>
                </li>
                <li>
                    doc.<a href="">activeElement</a>
                    <span>
                        返回当前获取焦点元素
                    </span>
                </li>
                <li>
                    doc.<a href="">domain</a>
                    <span>
                        返回当前文档的域名
                    </span>
                </li>
                <li>
                    doc.<a href="">URL</a>
                    <span>
                        返回文档的URL，必须为大写。
                    </span>
                </li>
                <li>
                    doc.<a href="">cookie</a>
                    <span>
                        设置或返回与当前文档有关的所有cookie <br>
                        key=value;...
                    </span>
                </li>
                <li>
                    doc.<a href="">lastModified</a>
                    <span>
                        返回文档最后被修改的日期和时间 <br>
                        10/19/2017 15:24:30
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">inputEncoding</a>
                    <span>
                        返回文档的字符编码 <br>
                        IE8及以下，Oprea不支持
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">baseURI</a>
                    <span>
                        返回文档绝对基础URI <br>
                        IE不支持
                    </span>
                </li>
                <li class="i-dot-orange">
                    doc.<a href="">doctype</a>
                    <span>
                        返回文档类型声明。<br>
                        IE8及以下返回null。支持XML。
                    </span>
                </li>
                <li>
                    doc.<a href="">title</a>
                    <span>
                        返回当前文档的标题
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] Element</h4>
            <ul>
                <li>
                    ele.<a href="">id</a>
                    <span>
                        设置或返回元素的id
                    </span>
                </li>
                <li>
                    ele.<a href="">innerHTML</a>
                    <span>
                        设置或返回元素的内容
                    </span>
                </li>
                <li>
                    ele.<a href="">accessKey</a>
                    <span>
                        设置或返回accessKey一个元素。 <br>
                        document.getElementById('w3c').accessKey="w" <br>
                        可使用Alt + accessKey 设置的键位快捷访问该元素。
                    </span>
                </li>
                <li>
                    ele.<a href="">dir</a>
                    <span>
                        设置或返回一个元素中的文本方向。 <br>
                        dir = ltr / rtl
                    </span>
                </li>

            </ul>
        </div>
    </div>
    <div class="u-block">
        <h3>DOM操作<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 属性</h4>
            <ul>
                <li>
                    ele.<a href="">attributes</a>
                    <span>
                        返回一个元素的属性数组。 <br>
                        数组中按照html中的顺序排序，无法直接通过.访问，只有索引。
                    </span>
                </li>
                <li>
                    ele.<a href="">getAttribute</a>('attr')
                    <span>
                        返回指定元素的属性值 <br>
                        等同 getAttributeNode('attr').value 
                    </span>
                </li>
                <li class="i-dot-orange">
                    ele.<a href="">hasAttribute</a>('attr')
                    <span>
                        检测元素是否具有某个属性，返回true/false <br>
                        IE8及以下不支持
                    </span>
                </li>
                <li class="i-dot-orange">
                    ele.<a href="">hasAttributes()</a>
                    <span>
                        检测元素是否具有任何某个属性，返回true/false <br>
                        IE8及以下不支持
                    </span>
                </li>
                <li>
                    dom.<a href="">creatAttribute</a>('attr')
                    <span>
                        创建一个属性节点，并返回该attr对象。
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 样式</h4>
            <ul>
                <li>
                    ele.<a href="">className</a>
                    <span>
                        设置或返回元素的class属性
                    </span>
                </li>
                <li class="i-dot-blue">
                    ele.<a href="">classList</a>
                    <span>
                        返回该元素的类的一个对象。 IE10以下不支持。 <br>
                        <table>
                            <tr>
                                <th>方法</th>
                                <th>描述</th>
                            </tr>
                            <tr>
                                <td>.value</td>
                                <td>完整类名</td>
                            </tr>
                            <tr>
                                <td>.add(class1,class2,...)</td>
                                <td>添加新的类名，如果已经存在则不会添加</td>
                            </tr>
                            <tr>
                                <td>.remove(class1,class2,...)</td>
                                <td>移除指定类名，如果移除不存在的类名，不会报错</td>
                            </tr>
                            <tr>
                                <td>.toggle(class,true/false)</td>
                                <td>切换指定类名。 <br>
                                    第一个参数为切换的类名。 <br>
                                    如果存在时，移除并返回false；如果不存在，添加并返回true。 <br>
                                    第二个参数，为强制设置布尔值。
                                </td>
                            </tr>
                            <tr>
                                <td>.contains(class)</td>
                                <td>返回布尔值，判断指定类名是否存在</td>
                            </tr>
                            <tr>
                                <td>.length</td>
                                <td>类名个数</td>
                            </tr>
                            <tr>
                                <td>.item(i) / [i]</td>
                                <td>返回索引上的类名</td>
                            </tr>
                        </table>
                    </span>
                </li>
            </ul>
            <h4>[<span>-</span>] 交互</h4>
            <ul>
                <li>
                    ele.<a href="">focus()</a>
                    <span>
                        设置元素获取焦点
                    </span>
                </li>
                <li>
                    ele.<a href="">blur()</a>
                    <span>
                        设置元素移除焦点
                    </span>
                </li>
                <li>
                    ele.<a href="">hasFocus()</a>
                    <span>
                        检查元素是否获取焦点，返回布尔值
                    </span>
                </li>
                <li>
                    ele.<a href="">contentEditable</a>
                    <span>
                        设置或返回元素的内容是否可编辑 <br>
                        返回inherit/true/false <br>
                        如果父级元素是可编辑，则子元素内容也是可编辑的
                    </span>
                </li>
                <li>
                    ele.<a href="">isContentEditable</a>
                    <span>
                        返回元素的内容是否可编辑 <br>
                        返回true/false
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>